<BOUCLE_sous_rubriques37(RUBRIQUES) {id_rubrique}{doublons}{par num titre, titre}>
<div class="list-group bloc_emploi">

    <div>
        <h3>Autres offres</h3>
        <ul class="menu-liste list-unstyled">
            <BOUCLE_miniplan_article(ARTICLES) {id_rubrique} {age<200}{0,5}{par date}{inverse}>
            [(#INCLURE{fond=inclure/resume/menu_emploi,id_article})]
            </BOUCLE_miniplan_article>
            [<li>(#TOTAL_BOUCLE|>{5}|oui)<a href="#URL_RUBRIQUE">Voir les autres offres...</a></li>]
            </B_miniplan_article>
            Aucune offre pour le moment
        <//B_miniplan_article>
        </ul>
    </div>
</div>
</BOUCLE_sous_rubriques37>