<INCLURE{fond=inclure/articles,env} />
[(#SET{tab_mot,#ARRAY})]
<BOUCLE_content(ARTICLES){id_article}>
<BOUCLE_option_rubrique(MOTS){id_groupe=3}{id_rubrique=#ID_RUBRIQUE}>
    [(#SET{tab_mot,#GET{tab_mot}|push{#ID_MOT}})]
</BOUCLE_option_rubrique>


<B_agenda>
    <h2 class="h2"><a href="#URL_RUBRIQUE">Agenda</a></h2>
    <ul class="mini_agenda">

        <BOUCLE_agenda(EVENEMENTS){id_article}{age<=0}{par date}{doublons}>
        <li>
            [(#INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT})]
        </li>
        </BOUCLE_agenda>

    </ul>
</B_agenda>

<B_actu>
    <h2 class="h2"><a href="#URL_RUBRIQUE">Actualités</a></h2>
    <ul class="actualites">

        <BOUCLE_actu(ARTICLES){id_mot IN #GET{tab_mot}}{par date}{inverse}{doublons}>
        <li>
            [(#INCLURE{fond=inclure/resume/actu}{id_article=#ID_ARTICLE})]
        </li>
        </BOUCLE_actu>

    </ul>
</B_actu>
</BOUCLE_content>