<B_actu>
<h3>Actualités</h3>

    <ul class="liste-items">
        <BOUCLE_actu(ARTICLES){id_rubrique=24}{id_association}{0,4}{par date}{inverse}>
        <li class="item hentry">
            <div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|left|image_reduire{60,0}|image_recadre{50,50})]</a></div>
            [<div class="date_publication">(#DATE|affdate)</div>]
            <div class="titre">
                <a href="#URL_ARTICLE" rel="bookmark">#TITRE</a>
            </div>
            <div class="clearfix"></div>
        </li>
        </BOUCLE_actu>
    </ul>
</B_actu>

[(#SET{tabevt,#ARRAY})]
<B_agenda>
<h3>Agenda</h3>
    <ul class="mini_agenda">
        <BOUCLE_agenda(EVENEMENTS){ignore_magnet}{age<=0}{id_association}{par date}{doublons}>
        <li>
            <INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
        </li>
        </BOUCLE_agenda>
    </ul>
</B_agenda>


[(#SET{tab_mots,#ARRAY})]
<BOUCLE_mot(MOTS){id_association}{par hasard}>
    [(#SET{tab_mots,#GET{tab_mots}|push{#ID_MOT}})]
</BOUCLE_mot>

<B_asso>
    <h3>Association proche</h3>
    <ul class="asso_porche">
        <BOUCLE_asso(ASSOCIATIONS){mots 100% #GET{tab_mots}}{0,5}{par hasard}>
        <li>
           <a href="#URL_ASSOCIATION">#NOM</a>
        </li>
        </BOUCLE_asso>
    </ul>
</B_asso>

