<BOUCLE_association_head(ASSOCIATIONS) {id_association}>
<title>[(#SIGLE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#OBJET_ASSOCIATIF{150}|attribut_html)" />]
[<link rel="canonical" href="(#URL_ASSOCIATION|url_absolue)" />]
#MODELE{insert_head_og, env}
</BOUCLE_association_head>

[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico}|url_absolue_si)" />]]
