[(#SET{defaut_tri,#ARRAY{
	multi nom,1,
	id_association,1
}})
]
#SET{exclus,#ENV**{exclus,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutassa,#EVAL{_request("debutassa");}}}
<B_liste_associations>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutassa,#EVAL{_request("debutassa");}}}
#SET{afficher_lettres,#TRI|=={'multi nom'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-associer associations">
<table class="spip liste">
[<caption><span class="caption"><strong>(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{association:info_1_association,association:info_nb_associations}})</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher:>" />
</span>
</span>
</caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(ASSOCIATIONS){tout}{!id_association IN #GET{exclus}}{where?}{recherche?}{statut?}
			{tri #ENV{par,multi nom},#GET{defaut_tri}}{id_association==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#NOM**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutassa,@#ID_ASSOCIATION}|ancre_url{paginationassa}|afficher_initiale{#NOM**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="3"><p class="pagination">(#GET{p})</p></td></tr>]
	
		<tr class="first_row">
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:>">#</span>,ajax})]</th> 
			<th class="nom" scope="col">[(#TRI{multi nom,<:association:champ_nom_label:>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_associations(ASSOCIATIONS){!id_association IN #GET{exclus}}{where?}{recherche?}{statut?}
		{tri #ENV{par,multi nom},#GET{defaut_tri}}{pagination #ENV{nb,10} assa}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#NOM**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)]">
			<td class="statut">[(#STATUT|puce_statut{association})]</td> 
			<td class="nom">[(#LOGO_ASSOCIATION|image_reduire{20,20})]<a href="[(#ID_ASSOCIATION|generer_url_entite{association})]">#NOM</a></td>
			<td class="action">
				<button type="submit" class="button link add" name="ajouter_lien\[association-#ID_ASSOCIATION-#OBJET-#ID_OBJET\]" value="+"><:association:ajouter_lien_association:> [(#CHEMIN_IMAGE{ajouter-12.png}|balise_img{'+'})]</button>
			</td>
		</tr>
	</BOUCLE_liste_associations>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
</div>
</B_liste_associations>[(#ENV{recherche}|oui)
<div class="liste-objets liste-objets-associer associations caption-wrap">
<span class="caption"><strong>[(#VAL{info_recherche_auteur_zero}|_T{#ARRAY{cherche_auteur,#ENV{recherche}}})]</strong>
<span class="recherche">
	<label for="recherche-#ENV{id}"><:info_rechercher_02:></label>
	<input type="text" class="recherche" name="recherche" id="recherche-#ENV{id}" value="#ENV{recherche}" />
	<input type="submit" class="tout_voir" name="tout_voir" value="<:info_tout_afficher:>" />
</span>
</span>
</div>
]<//B_liste_associations>
