[(#SET{defaut_tri,#ARRAY{
	multi nom,1,
	id_association,1
}})
]
#SET{selection,#ENV**{selection,#ENV{objet_source}|lister_objets_lies{#ENV{objet},#ENV{id_objet},#ENV{_objet_lien}}}}
#SET{debut,#ENV{debutassl,#EVAL{_request("debutassl");}}}
<B_liste_associations>
[(#REM) En cas de pagination indirecte @32, il faut refaire le set car la boucle
a mis a jour la valeur avec la page reelle]
#SET{debut,#ENV{debutassl,#EVAL{_request("debutassl");}}}
#SET{afficher_lettres,#TRI|=={'multi nom'}|oui}
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-lies associations">
<table class="spip liste">
[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{association:info_1_association,association:info_nb_associations}})</strong></caption>]
	<thead>
		#SET{p,''}
		<BOUCLE_lettre(ASSOCIATIONS){tout}{id_association IN #GET{selection}}{where?}{statut?}
			{tri #ENV{par,multi nom},#GET{defaut_tri}}{id_association==#GET{afficher_lettres}|?{'.*','A'}}>[
		(#NOM**|extraire_multi|initiale|unique|oui)
		[(#SET{p,#GET{p}|concat{
		#SELF|parametre_url{debutassl,@#ID_ASSOCIATION}|ancre_url{paginationassl}|afficher_initiale{#NOM**|extraire_multi|initiale{},#COMPTEUR_BOUCLE,#GET{debut},#ENV{nb,10}}
		}})]
		]#SAUTER{#ENV{nb,10}|moins{#COMPTEUR_BOUCLE|=={1}|?{2,1}}}</BOUCLE_lettre>[
		(#SET{p,
			#GET{p}|concat{
				#REM|afficher_initiale{#REM,#TOTAL_BOUCLE,#GET{debut},#ENV{nb,10}}
			}
		})]</B_lettre>
		[<tr><td colspan="4"><p class="pagination">(#GET{p})</p></td></tr>]

		<tr class="first_row">
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:>">#</span>,ajax})]</th> 
			<th class="nom" scope="col">[(#TRI{multi nom,<:association:champ_nom_label:>,ajax})]</th>
			<th class="action" scope="col"></th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_associations(ASSOCIATIONS){id_association IN #GET{selection}}{statut?}
		{tri #ENV{par,multi nom},#GET{defaut_tri}}{pagination #ENV{nb,10} assl}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})][ (#EXPOSE|unique)][ (#NOM**|extraire_multi|initiale|=={#ENV{i}}|?{on}|unique)][(#ID_ASSOCIATION|=={#ENV{id_lien_ajoute}}|oui)append]">
			<td class="statut">[(#STATUT|puce_statut{association})]</td> 
			<td class="nom">[(#LOGO_ASSOCIATION|image_reduire{20,20})]<a href="[(#ID_ASSOCIATION|generer_url_entite{association})]">#NOM</a></td>

			<td class="action">
				[(#ENV{editable}|oui)
					<button type="submit" class="button link delete" name="supprimer_lien\[association-#ID_ASSOCIATION-#OBJET-#ID_OBJET\]" value="X"><:association:retirer_lien_association:> [(#CHEMIN_IMAGE{supprimer-12.png}|balise_img{'X'})]</button>
				]
			</td>
		</tr>
	</BOUCLE_liste_associations>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
[(#GRAND_TOTAL|>{3}|oui)<div class="action"><button type="submit" class="button link" name="supprimer_lien\[association-*-#OBJET-#ID_OBJET\]" value="X"><:association:retirer_tous_liens_associations:> [(#CHEMIN_IMAGE{supprimer-8.png}|balise_img{'X'})]</button></div>]
</div>
</B_liste_associations>
<div class="liste-objets liste-objets-lies associations caption-wrap">
	<strong class="caption">[(#ENV*{titre,<:association:info_aucun_association:>})]</strong>
</div>
<//B_liste_associations>
