[(#SET{defaut_tri,#ARRAY{
	nom,1,
	id_association,1,
	points,-1
}})]<B_liste_associations>
#ANCRE_PAGINATION
<div class="liste-objets associations">
<table class="spip liste">
	[<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{association:info_1_association,association:info_nb_associations}})</strong></caption>]
	<thead>
		<tr class="first_row">
			<th class="picto" scope="col"></th>
			<th class="statut" scope="col">[(#TRI{statut,<span title="<:lien_trier_statut|attribut_html:>">#</span>,ajax})]</th> 
			<th class="nom" scope="col">[(#TRI{nom,<:association:champ_nom_label:>,ajax})]</th>
			<th class="id" scope="col">[(#TRI{id_association,<:info_numero_abbreviation:>,ajax})]</th>
		</tr>
	</thead>
	<tbody>
	<BOUCLE_liste_associations(ASSOCIATIONS){id_mot?}{id_auteur?}{where?}{statut?}{recherche?}{tri #ENV{par,num nom},#GET{defaut_tri}}{par nom}{pagination #ENV{nb,10}}>
		<tr class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]">
			<td class="picto">[(#CHEMIN_IMAGE{association-16.png}|balise_img)]</td>
			<td class="statut">[(#STATUT|puce_statut{association,#ID_ASSOCIATION})]</td> 
			<td class="nom principale">[(#LOGO_ASSOCIATION|image_reduire{20,26})]<a href="[(#ID_ASSOCIATION|generer_url_entite{association})]" title="<:info_numero_abbreviation|attribut_html:> #ID_ASSOCIATION">[(#RANG). ]#NOM</a></td>
			<td class="id">[(#AUTORISER{modifier,association,#ID_ASSOCIATION}|?{
				<a href="[(#URL_ECRIRE{association_edit,id_association=#ID_ASSOCIATION})]">#ID_ASSOCIATION</a>,
				#ID_ASSOCIATION
			})]</td>
		</tr>
	</BOUCLE_liste_associations>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
</div>
</B_liste_associations>[
<div class="liste-objets associations caption-wrap"><strong class="caption">(#ENV*{sinon,''})</strong></div>
]<//B_liste_associations>
