[(#REM) Articles trouves ]
<B_articles>
	<div class="liste resultats articles ">
		<div class="liste article">

				<div class="panel panel-default">
					#ANCRE_PAGINATION
					<div class="panel-heading">
						<h3 class="h3">Actualités(#GRAND_TOTAL)</h3>
					</div>
					<div class="panel-body">
						<ul class="liste-items">
							<BOUCLE_articles(ARTICLES) {recherche}{id_secteur=24}{id_rubrique?}{!par points,date} {pagination #ENV{pagination,10}}>
							<li class="item"><INCLURE{fond=inclure/resume/actu}{id_article}/></li>
							</BOUCLE_articles>
						</ul>
					</div>
					<div class="panel-footer">
						[<div class="pagination">(#PAGINATION)</div>]
					</div>
				</div>

		</div>
	</div>
</B_articles>
