[(#REM) Articles trouves ]
<B_articles>
<div class="liste resultats articles ">
	<div class="liste article">

			<div class="panel panel-default">
				#ANCRE_PAGINATION
				<div class="panel-heading">
					<h3 class="h3">Articles (#GRAND_TOTAL)</h3>
				</div>
				<div class="panel-body">
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES) {recherche}{id_secteur!=24}{id_secteur!=22}{id_secteur!=36}{id_secteur!=66}{id_rubrique?}{par points}{inverse} {pagination #ENV{pagination,20}}>
		<li class="item"><a href="#URL_ARTICLE">#TITRE</a></li>
		</BOUCLE_articles>
	</ul>
				</div>
				<div class="panel-footer">
					[<div class="pagination">(#PAGINATION)</div>]
				</div>
			</div>

	</div>
</div>
</B_articles>
