[(#REM) Associations trouves ]
<B_associations>
<div class="liste resultats associations ">
	<div class="liste association">

			<div class="panel panel-default">
				#ANCRE_PAGINATION
				<div class="panel-heading">
					<h3 class="h3">Association (#GRAND_TOTAL)</h3>
				</div>
				<div class="panel-body">
	<ul class="liste-items">
		<BOUCLE_associations(ASSOCIATIONS) {recherche}{par points}{inverse} {pagination #ENV{pagination,20}}>
		<li class="item"><a href="#URL_ASSOCIATION">#NOM</a></li>
		</BOUCLE_associations>
	</ul>
				</div>
				<div class="panel-footer">
					[<div class="pagination">(#PAGINATION)</div>]
				</div>
			</div>

	</div>
</div>
</B_associations>
