[(#REM) Articles trouves ]
<B_articles>
    <div class="liste resultats articles ">

            <div class="panel panel-default">
                #ANCRE_PAGINATION
                <div class="panel-heading">
                    <h3 class="h3">Emploi (#GRAND_TOTAL)</h3>
                </div>
                <div class="panel-body">
                    <ul class="liste-items">
                        <BOUCLE_articles
                        (ARTICLES) {recherche}{id_secteur=36}{id_rubrique?}{par points}{inverse} {pagination
                        #ENV{pagination,20}}>
                        <li class="item"><INCLURE{fond=inclure/resume/emploi-bloc}{id_article}/></li>
                        </BOUCLE_articles>
                    </ul>
                    [
                    <div class="pagination">(#PAGINATION)</div>
                    ]
                </div>
            </div>

    </div>
</B_articles>
