[(#REM) Evenements trouves ]
<B_evenements>
<div class="liste resultats evenements ">
	<div class="liste agenda">

			<div class="panel panel-default">
				#ANCRE_PAGINATION
				<div class="panel-heading">
					<h3 class="h3">Agenda (#GRAND_TOTAL)</h3>
				</div>
				<div class="panel-body">

					<ul class="liste-items">
						<BOUCLE_evenements(EVENEMENTS) {recherche}{par points}{inverse} {pagination #ENV{pagination,20}}>
						<li class="item">
							<INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
						</li>
						</BOUCLE_evenements>
					</ul>
					</div>
				<div class="panel-footer">
					[<div class="pagination">(#PAGINATION)</div>]
				</div>
			</div>

	</div>
</div>
</B_evenements>
