<BOUCLE_resume_association(ASSOCIATIONS){id_association}{tous}>
<div class="element-item col-md-6 <BOUCLE_MOT(MOTS){id_association}{" "}>mot#ID_MOT</BOUCLE_MOT>">

	<div class="list-group-item">
		[<div class="logo pull-left">
			(#LOGO_ASSOCIATION|image_reduire{100,100}|inserer_attribut{class,"img-responsive img-rounded"})
		</div>]

		[<div class="nom h4 #EDIT{sigle}">(#SIGLE) [(#NOM|!=={#SIGLE}|oui)<small>#NOM</small>]</div>]
		<div class="texte mb-2">
			[(#OBJET_ASSOCIATIF|textebrut|couper{400})]
		</div>
		<div class="contact mb-2">
			<dl class="dl-horizontal de_gauche">
			[
			<dt><:association:champ_adresse_label:> : </dt>
			<dd><span dir="#LANG_DIR" class="#EDIT{adresse} adresse">(#ADRESSE|textebrut)</span><br/>
				[<span dir="#LANG_DIR" class="#EDIT{cp} cp">(#CP)</span>]
				[<span dir="#LANG_DIR" class="#EDIT{ville} ville">(#VILLE)</span>]
			</dd>
			]
			[
			<dt><:association:champ_tel_label:> : </dt>
			<dd><span dir="#LANG_DIR" class="#EDIT{tel} tel">(#TEL)</span></dd>
			]
			[
			<dt><:association:champ_email_label:> : </dt>
			<dd><span dir="#LANG_DIR" class="#EDIT{email} email">(#EMAIL)</span></dd>
			]

			[
			<dt><:association:champ_site_internet_label:> :</dt>
			<dd><a href="#URL_SITE" class="spip_out"><span dir="#LANG_DIR" class="#EDIT{url_site} url_site">(#URL_SITE)</span></a></dd>
			]

			[
			<dt><:association:champ_facebook_label:> :</dt>
			<dd><a href="#FACEBOOK" class="spip_out"><span dir="#LANG_DIR" class="#EDIT{facebook} facebook">(#FACEBOOK)</span></a></dd>
			]
			</dl>
		</div>

		<div class="clearfix"></div>
		<a href="#URL_ASSOCIATION" class="btn btn-primary">Voir la fiche</a>
	</div>

</div>
</BOUCLE_resume_association>