<body data-spy="scroll" data-target=".doc-sidebar">
<div class="page">
	<INCLURE{fond=inclure/nav,env} />
	<INCLURE{fond=header/#ENV{type-page},env} />

	<div id="central">
	<div class="container">
		<div class="wrapper" id="wrapper">
			<div class="primary">
				<INCLURE{fond=content/#ENV{type-page},env} />
			</div>
		</div>
	</div>
	</div>
	<div class="footer" id="footer">
		<div class="container">
			<INCLURE{fond=footer/#ENV{type-page},env} />
		</div>
	</div>

	[(#FORMULAIRE_RECHERCHE_PLEIN_ECRAN)]
	<script type="application/javascript">
		[var url_rubrique = '(#URL_PAGE*{rubrique,id_rubrique=})';]
		[var url_article = '(#URL_PAGE*{article,id_article=})';]
		[var url_association = '(#URL_PAGE*{association,id_association=})';]
		[var url_recherche = '(#URL_PAGE*{recherche,recherche=})';]
		[var url_lunr_data = '(#URL_PAGE{lunr_app.js})';]
	</script>
	[<script type="application/javascript" src="(#CHEMIN{js/scripts_footer.js})"></script>]
	[<script [data-main="(#URL_PAGE{lunr_app.js})&var_mode=recalcul"] src="(#CHEMIN{js/lunr/require.js})"></script>]
</div>
</body>