
	
					
        
<BOUCLE_theme(MOTS){id_groupe=10}{par titre}>
				 
				[<h1>(#TITRE)</h1>]
			<BOUCLE_asso(ASSOCIATIONS spip_mots_liens){id_mot}{par sigle}>
			<h5>[(#SIGLE)]</h5>			      
			      <h2>
			      [(#SIGLE)]
			      [(#SIGLE|?{[(#SIGLE|attribut_html|!={[(#NOM|attribut_html)]}|oui) - #NOM],[(#FAX|attribut_html|!={[(#NOM|attribut_html)]}|oui) - #NOM]})]
			      </h2>
         <h3>
         [(#ADRESSE|replace{<p>, ""}|replace{</p>, ""})] - #CP #VILLE<br />
        [(#TEL)<br />]
         [(#EMAIL)<br />]
        [(#URL_SITE)<br />]
        [Permanences : (#PERMANENCE)<br />]</h3>
			
         
		  
         [<h4>(#INFORMATIONS)</h4>]
    
			
			</BOUCLE_asso>
						</BOUCLE_theme>


