<BOUCLE_theme(EVENEMENTS){tous}{0,1}>
  <BOUCLE_test(POUR){tableau #LISTER_CHOIX**{localisation}}>
           <h2>#VALEUR</h2>
           
<?php $date_debut = $_POST['date_debut']; ?>
<BOUCLE_lesevenementsmiin(EVENEMENTS){!evenement_passe}{par date}>

[(#LISTER_VALEURS{localisation}|=={#VALEUR}|oui)
<h4><u>
#ENV{date_debut}
<strong>[(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*})]</strong></u><br />
<b>[(#TITRE|supprimer_numero)]</b>
[ - (#LIEU) - ]

#SET{organisateur,#AUTEURS_1}
#SET{autres,#AUTRES}
#SET{contact,#CONTACT}
Par 
 ]

<B_aut>
<BOUCLE_aut(AUTEURS){id_auteur=#GET{organisateur}}{tout}>
[(#NOM_SITE)</span>]
#SET{organisateur,""}
</BOUCLE_aut>

[(#GET{autres})</span>]
#SET{autres,""}
[&nbsp;-&nbsp;Contact : (#GET{contact})]
#SET{contact,""}
</h4>
  </BOUCLE_lesevenementsmiin>

</BOUCLE_test>
   </BOUCLE_theme>
   
 
   
     
   