#HTTP_HEADER{Content-Type: text/html}
#CACHE{0}


<style type="text/css" media="print">
@page { margin: 10%; }

.cache {display:none;}

body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
  background-color :#fff;
  font-family :Serif;
  font-size :10pt;
  line-height :12pt;
}

h1#top { /* Affichage du titre */
  margin :0;
  padding :0;
  text-indent :0;
  line-height :15pt;
  font-size :15pt;
}


h2, h3, a { /* Modification de la couleur des titres et liens */
  color :#000;
}

li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}



.encart ul.spip li {display:inline;}

.encart ul.spip li:before {
content: "- ";
}



</style>

<style type="text/css" media="screen">
/* ----------------------------- */
/* ==reset */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
html {
	font-size: 62.5%;
}
body {
	background-color: #fff;
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.2; /* adapt to your design */
}

/* font-sizing for content */
/* preserve vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em; /* equiv 14px */
	/*line-height: 1.5;
	margin: 1.5em 0 0;*/
}
h1, .h1-like {
	font-size: 1.8571em; /* equiv 26px */
	font-weight: bold;
	line-height: 1.6154em;
	margin: .8077em 0 0 0;
    color:#2d6c78;
}
h2, .h2-like {
	font-size: 1.7143em; /* equiv 24px */
	font-weight: normal;
	line-height: 1.75em;
	margin: .875em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.4286em; /* equiv 20px */
	font-weight: normal;
	line-height: 1.05em;
	margin:  1.05em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin-bottom: 1.5em; }

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* skip-links */
.skip-links {
	position: absolute;
}
.skip-links a {
	position: absolute;
	left: -9999px;
	padding: 0.5em;
	background: #000;
	color:#fff;
	text-decoration: none;
}
.skip-links a:focus {
	position: static;
}

.encart {
  margin:20px;
  padding:10px;
  border-radius:20px;
}

.experience {
background: #e6e6e6;
}

.acteur {
background: #cdcdcd;
}

.methodo {
background: #b3b3b3;
}

.support {
background: #808080;
}

.encart ul.spip li {display:inline;}

.encart ul.spip li:before {
content: "- ";
}

a.bouton_ebook {
  text-decoration:none;
  margin:20px;
  padding:10px 15px;
  border-radius:10px;
  background: #73bdcb;
  font-size: larger;
  color: #ffffff;
  font-weight: bold;
}

a.bouton_ebook:hover {
  background: #2d6c78;
}

.cachecache {display:none;}

</style>
<div class="ajax">

<h1>Ebook des ressources de la transition</h1>

<!--
<BOUCLE_reponses (FORMULAIRES_REPONSES){id_formulaire=1}>
<h2>#VOIR_REPONSE{input_1,brut}</h2>
<p>#VOIR_REPONSE{input_2,label}&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}</p>
<p>[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})]</p>
<p>#VOIR_REPONSE{checkbox_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{checkbox_1,valeur_uniquement}</p>
<p>Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})][, (#VOIR_REPONSE{input_6,brut})]</p>
[<p>#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement})</p>]
[<p>#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a></p>]
<p>#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</BOUCLE_reponses>
-->
<p>&nbsp;</p>
<div class="cache">
<a href="[(#URL_PAGE{spipdf}|parametre_url{spipdf,ebook_fot}|parametre_url{nom_fichier,ebook-fot})]" class="bouton_ebook">Générer l'ebook</a>
<a href="https://mres-asso.org/Saisie-des-outils-pour-la-transition" class="bouton_ebook">Saisir une autre ressource</a>
</div>
<div class="cachecache"><!--<IMG SRC="https://mres-asso.org/squelettes/images/FOT.png" ALT="logo FOT" TITLE="logo FOT"  width="300">-->
<p>Cet ebook est une oeuvre collective de ressources pour la transition. Elles ont été recueillies auprès des participants au Forum des Outils pour la transition organisé par la MRES le 17 novembre 2021. </p>
<p>Une version plus complète et élaborée sera disponible dès décembre 2021 auprès du Centre de doc de la MRES <a href="centrededoc@mres-asso.fr">centrededoc@mres-asso.fr</a>.
<p>Bonne lecture !</p>
</div>
<p>&nbsp;</p>
<B_1>
<h2>Expériences inspirantes</h2>
<BOUCLE_1 (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %experience%}>
<BOUCLE_reponses_1 (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart experience">
<h3>#VOIR_REPONSE{input_1,brut} - N°#ID_FORMULAIRES_REPONSE</h3>
<p>Présenté par&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}<br />
[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})<br />]
#VOIR_REPONSE{checkbox_2,label}&nbsp;#VOIR_REPONSE{checkbox_2,valeur_uniquement}
Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})<br />][, (#VOIR_REPONSE{input_6,brut})<br />]
[#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement}|PtoBR)<br />]
[#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a><br />]
#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_1>
</BOUCLE_1>
</B_1>
<B_2>
<h2>Acteurs ressource </h2>
<BOUCLE_2 (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %acteur%}>
<BOUCLE_reponses_2 (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart acteur">
<h3>#VOIR_REPONSE{input_1,brut} - N°#ID_FORMULAIRES_REPONSE</h3>
<p>Présenté par&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}<br />
[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})<br />]
#VOIR_REPONSE{checkbox_2,label}&nbsp;#VOIR_REPONSE{checkbox_2,valeur_uniquement}
Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})<br />][, (#VOIR_REPONSE{input_6,brut})<br />]
[#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement}|PtoBR)<br />]
[#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a><br />]
#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_2>
</BOUCLE_2>
</B_2>
<B_3>
<h2>Méthodologies / outils</h2>
<BOUCLE_3 (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %methodo%}>
<BOUCLE_reponses_3 (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart methodo">
<h3>#VOIR_REPONSE{input_1,brut} - N°#ID_FORMULAIRES_REPONSE</h3>
<p>Présenté par&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}<br />
[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})<br />]
#VOIR_REPONSE{checkbox_2,label}&nbsp;#VOIR_REPONSE{checkbox_2,valeur_uniquement}
Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})<br />][, (#VOIR_REPONSE{input_6,brut})<br />]
[#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement}|PtoBR)<br />]
[#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a><br />]
#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_3>
</BOUCLE_3>
</B_3>
<B_4>
<h2>Supports</h2>
<BOUCLE_4 (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %doc%}>
<BOUCLE_reponses_4 (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart support">
<h3>#VOIR_REPONSE{input_1,brut} - N°#ID_FORMULAIRES_REPONSE</h3>
<p>Présenté par&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}<br />
[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})<br />]
#VOIR_REPONSE{checkbox_2,label}&nbsp;#VOIR_REPONSE{checkbox_2,valeur_uniquement}
Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})<br />][, (#VOIR_REPONSE{input_6,brut})<br />]
[#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement}|PtoBR)<br />]
[#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a><br />]
#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_4>
</BOUCLE_4>
</B_4>

<p>&nbsp;</p>
<div class="cache">
<a href="[(#URL_PAGE{spipdf}|parametre_url{spipdf,ebook_fot}|parametre_url{nom_fichier,ebook-fot})]" class="bouton_ebook">Générer l'ebook</a>
<a href="https://mres-asso.org/Saisie-des-outils-pour-la-transition" class="bouton_ebook">Saisir une autre ressource</a>
</div>
<p>&nbsp;</p>

</div>



