#CACHE{0}

<div class="formulaire_spip formulaire_#FORM">
[<div class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</div>]
[<div class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</div>]
<form method="post" action="#SELF">
		#ACTION_FORMULAIRE{#ENV{action}}
	
<form method="post" action="#ENV{action}"><div>
#ACTION_FORMULAIRE{#ENV{action}}
<ul>
<li class="editer editer_groupe_mot">
		<label for="accepter_note"><:bombe:label_groupe_mot:></label>
		<p class="explication"><:bombe:explication_groupe_mot:></p>
		
			[(#INCLURE{fond=formulaires/selecteur_groupe_mot}{name=id_groupe}{id=champ_id_groupe}{id_groupe})]
</li>
</ul>
<p class="boutons">
	<input type="submit" name="_cfg_ok" value="<:bouton_valider:>" class="submit" />
</p>
</div></form>
</div>
