[(#REM) S'il n'y a pas d'erreur d'autorisation on affiche le formulaire ]
<div class="formulaire_spip formulaire_bombe"  id="form_bombe">
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	<form action="#ENV{action}" method="post">
		#ACTION_FORMULAIRE{#ENV{action}}
				<input type="hidden" class="bombe"
					id="#ENV{name}"
					name="#ENV{name}"
					value="[(#ENV{tab_tags}|implode{" "})]"
					[(#ENV{aide_liste}|?{style="display:none;"})] />
			
			[(#INCLURE{fond=prive/inclure/arbre_tag}{tab_tags})]

			<div class="boutons">
				<input type="submit" class="submit"
					name="valider_bombe_#ENV{identifiant}"
					value="<:bombe:bouton_taguer:>"	/>
			</div>
	</form>

<script  type="text/javascript">
<!--
$(document).ready(poser_la_bombe());
// -->
</script>
</div>
