

[(#REM) <!-- Affichage du copyright et outils du site --> ]
<div class="pied_bas">
	[(#PIPELINE{pied_debut,
		[(#ARRAY{args, '', data, ''})]}
	)]


<div class="row-fluid">

	<div id="bloc_heurovelo" class="col-md-6">
		<div class="inner">
			<BOUCLE_liens_bas_de_page(ARTICLES){page=liens_bas_de_page} {par date}{inverse} {0,1}>
			[<div class="liens_bas_de_page">
				(#TEXTE)
			</div>]
			</BOUCLE_liens_bas_de_page>
		</div>
	</div>

	<div id="bloc_reseau" class="col-md-6">

		<div class="sommaire_infolettre">
			<h2 class="h2">M'inscrire à la newsletter</h2>
			<p>Mon adresse ne sert qu'à recevoir la newsletter de la MRES. Le nom est facultatif.<br />
			<b><a href="https://listes.mres-asso.fr/wws/subscribe/infomres">Allez au formulaire d'abonnement</a></b>
			</p>
			
			<!-- #NEWSLETTER_INSCRIPTION -->
			<!-- <div class="formulaire_spip">
				<form method="post" action="mailto:sympa@listes.mres-asso.org?subject=subscribe infomres">
					<input type="text" size="10" maxlength="40" name="name" value="Votre email" onclick="this.value=''" />
					<input type="submit" value="Valider" class="submit" />
				</form>
			</div>-->
		</div>
		<div class="inner">
			<h2 class="h2">Suivez nous...</h2>
				[(#INCLURE{fond=inclure/sociaux})]
		</div>
	</div>

</div>
<div class="row-fluid">



<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee>-</B_annee>[(#DATE|annee) ] &mdash; #NOM_SITE_SPIP - 5 rue Jules de Vicq - 59800 LILLE <br />Tél.: 0320521202 - <a href="mailto:mres@mres-asso.org">mres@mres-asso.org</a>

[<div id="menu_bas_de_page" class="menu">
      (#INCLURE{fond=inclure/menu, env, identifiant=pied})
    </div>]

</div>



</div>






