<div  id="lemur" class="ajax">
[(#FORMULAIRE_LE_MUR{#ENV{type},#ENV{id}}{ajax})]
</div>
<div   class="ajax">
[(#FORMULAIRE_ETIQUETTES{groupe=Autres,objet=#ENV{type}|concat{'-'}|concat{#ENV{id}}})]
</div>