<BOUCLE_contexte_rubrique(RUBRIQUES) {id_rubrique=(#OBJET|=={rubrique}|?{#INFO_ID_PARENT{#OBJET,#ID_OBJET},#INFO_ID_RUBRIQUE{#OBJET,#ID_OBJET}})}>
<BOUCLE_ariane_hier(HIERARCHIE) {id_rubrique}{tout}>
<li><a href="#URL_RUBRIQUE">[(#TITRE|couper{80})]</a></li>
</BOUCLE_ariane_hier>
</BOUCLE_contexte_rubrique>
