<BOUCLE_association(ASSOCIATIONS){id_association}{statut?}>
[<div class="champ contenu_sigle[ (#SIGLE*|strlen|?{'',vide})]">
	<label><:association:champ_sigle_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{sigle} sigle">(#SIGLE)</span>
</div>]

[<div class="champ contenu_nom[ (#NOM*|strlen|?{'',vide})]">
	<label><:association:champ_nom_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{nom} nom">(#NOM)</span>
</div>]

[<div class="champ contenu_adresse[ (#ADRESSE*|strlen|?{'',vide})]">
	<label><:association:champ_adresse_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{adresse} adresse">(#ADRESSE)</span>
</div>]

[<div class="champ contenu_cp[ (#CP*|strlen|?{'',vide})]">
	<label><:association:champ_cp_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{cp} cp">(#CP)</span>
</div>]

[<div class="champ contenu_ville[ (#VILLE*|strlen|?{'',vide})]">
	<label><:association:champ_ville_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{ville} ville">(#VILLE)</span>
</div>]

[<div class="champ contenu_page[ (#PAGE*|!={0000-00-00 00:00:00}|?{'',vide})]">
	<label><:association:champ_page_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{page} page">(#PAGE|=={0000-00-00 00:00:00}|?{'',[(#PAGE|affdate)]})</span>
</div>]

[<div class="champ contenu_tel[ (#TEL*|strlen|?{'',vide})]">
	<label><:association:champ_tel_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{tel} tel">(#TEL)</span>
</div>]

[<div class="champ contenu_fax[ (#FAX*|strlen|?{'',vide})]">
	<label><:association:champ_fax_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{fax} fax">(#FAX)</span>
</div>]

[<div class="champ contenu_email[ (#EMAIL*|strlen|?{'',vide})]">
	<label><:association:champ_email_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{email} email">(#EMAIL)</span>
</div>]

[<div class="champ contenu_url_site[ (#URL_SITE*|strlen|?{'',vide})]">
	<label><:association:champ_url_site_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{url_site} url_site">(#URL_SITE)</span>
</div>]

[<div class="champ contenu_facebook[ (#FACEBOOK*|strlen|?{'',vide})]">
	<label><:association:champ_facebook_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{facebook} facebook">(#FACEBOOK)</span>
</div>]

[<div class="champ contenu_permanence[ (#PERMANENCE*|strlen|?{'',vide})]">
	<label><:association:champ_permanence_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{permanence} permanence">(#PERMANENCE)</span>
</div>]

[<div class="champ contenu_objet[ (#OBJET_ASSOCIATIF*|strlen|?{'',vide})]">
	<label><:association:champ_objet_associatif_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{objet_associatif} objet_associatif">(#OBJET_ASSOCIATIF)</span>
</div>]

[<div class="champ contenu_activite[ (#ACTIVITE*|!={0000-00-00 00:00:00}|?{'',vide})]">
	<label><:association:champ_activite_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{activite} activite">(#ACTIVITE|=={0000-00-00 00:00:00}|?{'',[(#ACTIVITE|affdate)]})</span>
</div>]

[<div class="champ contenu_historique[ (#HISTORIQUE*|strlen|?{'',vide})]">
	<label><:association:champ_historique_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{historique} historique">(#HISTORIQUE)</span>
</div>]

[<div class="champ contenu_informations[ (#INFORMATIONS*|strlen|?{'',vide})]">
	<label><:association:champ_informations_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{informations} informations">(#INFORMATIONS)</span>
</div>]

[<div class="champ contenu_description[ (#DESCRIPTION*|strlen|?{'',vide})]">
	<label><:association:champ_description_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{description} description">(#DESCRIPTION)</span>
</div>]

[<div class="champ contenu_document[ (#DOCUMENT*|strlen|?{'',vide})]">
	<label><:association:champ_document_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{document} document">(#DOCUMENT)</span>
</div>]

[<div class="champ contenu_syndication[ (#SYNDICATION*|strlen|?{'',vide})]">
	<label><:association:champ_syndication_label:> : </label>
	<span dir="#LANG_DIR" class="#EDIT{syndication} syndication">(#SYNDICATION)</span>
</div>]

</BOUCLE_association>
