<BOUCLE_test_multiple(CONDITION){si #ENV{multiple}|=={on}|oui}>
	[(#SET{valeur,[(#ENV*{valeur}|is_array|?{[(#ENV*{valeur})],[(#ENV*{valeur}|explode{','})]})]})]
	<B_associations_selectionnes>
	<ul>
	<BOUCLE_associations_selectionnes(ASSOCIATIONS){id_association IN #GET*{valeur}}
		{par num nom, nom}{statut?}{tout}>
		<li class="choix">#NOM (#ID_ASSOCIATION)</li>
	</BOUCLE_associations_selectionnes>
	</ul>
	</B_associations_selectionnes>
   	[(#ENV*{sans_reponse}|propre)]
	<//B_associations_selectionnes>
</BOUCLE_test_multiple>
	<BOUCLE_association_selectionne(ASSOCIATIONS){id_association=#ENV{valeur}}
		{par num nom, nom}{statut?}{tout}>
	  	<p>#NOM (#ID_ASSOCIATION)</p>
	</BOUCLE_association_selectionne>
   	[(#ENV*{sans_reponse}|propre)]
	<//B_association_selectionne>
<//B_test_multiple>
