[(#ENV{multiple}|oui)
	[(#SET{valeur,[(#ENV*{valeur}|is_array|?{[(#ENV*{valeur})],[(#ENV*{valeur}|explode{','})]})]})]
]
<select name="#ENV{nom}[(#ENV{multiple}|?{\[\]})]" id="champ_[(#ENV{nom}|saisie_nom2classe)]"[ class="(#ENV{class})"][(#ENV{multiple}|oui) multiple="multiple" size="#ENV{size,10}"][ disabled="(#ENV{disable})"]>
	[(#ENV{cacher_option_intro}|ou{#ENV{multiple}}|non)
		<option value="">[(#ENV{option_intro})]</option>]
	<BOUCLE_associations(ASSOCIATIONS){id_association?}{statut?}{recherche?}{tout}{par num nom, nom}>
		[(#ENV{multiple}|oui)
		<option value="#ID_ASSOCIATION"[(#ID_ASSOCIATION|in_array{#ENV{valeur_forcee,#GET{valeur,#ENV{defaut,#ARRAY}}}}|oui) selected="selected"]>#NOM</option>]
		[(#ENV{multiple}|non)
		<option value="#ID_ASSOCIATION"[(#ID_ASSOCIATION|=={#ENV{valeur_forcee,#ENV{valeur,#ENV{defaut}}}}|oui) selected="selected"]>#NOM</option>]
	</BOUCLE_associations>
</select>
