[(#ID_ASSOCIATION|oui)
	[(#AUTORISER{modifier,association,#ID_ASSOCIATION}|sinon_interdire_acces)]
	[(#SET{id_parent,#INFO_{association,#ID_ASSOCIATION}})]
]


[(#ID_ASSOCIATION|non)
	[(#AUTORISER{creer,association}|sinon_interdire_acces)]
]

#SET{redirect,#ENV{redirect}|sinon{#ID_ASSOCIATION|?{#ID_ASSOCIATION|generer_url_entite{association},#URL_ECRIRE{associations}}}}



<div class="cadre-formulaire-editer">
<div class="entete-formulaire">
	[(#ID_ASSOCIATION|oui)
	[(#GET{redirect}|icone_verticale{<:icone_retour:>,association,'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
	]
	[
		[(#ID_ASSOCIATION|?{<:association:icone_modifier_association:>,<:association:icone_creer_association:>})]
		<h1>(#ENV{titre,#INFO_NOM{association,#ID_ASSOCIATION}|sinon{<:info_sans_titre:>}})</h1>
	]
</div>

#SET{redirect,#ENV{redirect,#ID_ASSOCIATION|generer_url_entite{association}}}
[(#ENV{retourajax,''}|oui)
	#SET{redirect,'javascript:if (window.jQuery) jQuery(".entete-formulaire .retour a").followLink();'}
	<div class="ajax">
]
		[(#FORMULAIRE_EDITER_ASSOCIATION{#ENV{id_association,oui}, #GET{redirect}, #ENV{associer_objet}})]
[(#ENV{retourajax,''}|oui)
	</div>
	<script type="text/javascript">/*<!\[CDATA\[*/reloadExecPage('#ENV{exec}');/*\]\]>*/</script>
]
</div>
