
/* Partie pour le sélécteur générique */


#nuage_tags  ul{ margin:0 1em; padding:0; }
#nuage_tags  ul li{ margin:0.25em 0; padding:0 0 0 1.5em;font-weight:bold;}
#nuage_tags  ul li.groupetag{ padding:0;}
#nuage_tags  ul li.groupetag div{ padding:0.25em 0.5em 0.25em  1.5em;background-image:url("../images/fleche.png");background-repeat:no-repeat;background-position: left center; }
#nuage_tags  ul li.ouvert div{background-image:  url("../images/fleche_on.png"); }
#nuage_tags  ul li.groupetag.selected { list-style-image:url("../images/fleche.png")  }
#nuage_tags  ul li li{ font-size:0.8em;margin:0; padding:0; font-weight:normal;}
#nuage_tags  ul ul{ margin:0.15em 0.25em 0 2em; padding:0; }
#nuage_tags  ul ul li{ display:inline-block;padding:0 0.15em;margin:0.05em 0.25em 0 0.25em;font-size:0.9em; }
#nuage_tags  div{cursor:pointer;}
#nuage_tags  span{cursor:pointer;display:inline-block;padding:0.15em 0.5em;}
#nuage_tags  div.selected{background-color:#E0E5EA;}
#nuage_tags  span.selected{background-color:#DCE1E6;}
#nuage_tags   ul li  span.preciser{font-weight:normal;font:0.80em; cursor: pointer;}




.ac_results
{
	border: 1px solid #8B6F92;
	color: #604A7F;
	background-color: #F4F8F8;
	opacity:0.9;
	z-index:10000;
}
.ac_results ul{
	margin:0;
	padding:0;
	list-style:none;
}
.ac_results ul li
{
	padding: 2px 10px;
	white-space: nowrap;
	font-size: 11px;
	cursor:pointer;
}
.ac_results ul li.ac_over
{
	color:white;
	background-color: #8B6F92;
}

/* Partie pour le nuage d'aide */

.popular_tags, .formulaire_spip ul.popular_tags{
	margin:1em 0;
	line-height:1.2em ;
}
.popular_tags span { background-color: #F4F8F8; cursor: pointer; margin:2px }
.popular_tags span.selected { color:#eee; background-color: #8B6F92; }
.popular_tags span.auto { background-color: #ccffcc; }

/* Partie pour le crayon */
.formulaire_crayon input.etiquettes{
	width:95%;
}
#form_bombe{margin-top:0;}