<BOUCLE_content(ARTICLES){id_article}>
<article>
		<h3>
			<span class="#EDIT{titre}">#TITRE</span>
		</h3>
		[<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|adaptive_images)</div>]
		[<div class="#EDIT{texte} texte surlignable">(#TEXTE|adaptive_images)</div>]
		[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
</article>
</BOUCLE_content>
