<div class="formulaire_spip formulaire_editer formulaire_editer_article formulaire_editer_article-#ENV{id_article,nouveau}">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})<script>setTimeout(function(){ window.location.replace('#URL_SITE_SPIP?var_mode=calcul') }, 3000);</script></p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    [(#ENV{editable})
    <form method='post' action='#ENV{action}' enctype="multipart/form-data">
        <div>
            [(#REM) declarer les hidden qui declencheront le service du formulaire
            parametre : url d'action ]
            #ACTION_FORMULAIRE
            <input type='hidden' name='id_article' value='#ENV{id_article}'/>

            <div class="editer-groupe">

                <div class="form-group editer editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
                    <label for="titre">
                        <:info_titre:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
                    ]<input type='text' class='text form-control' name='titre' id='titre' [ lang='(#LANGUE)' ]
                            value="[(#ENV**{titre,''})]"
                            placeholder="<:info_nouvel_article|attribut_html:>"/>
                </div>

                [<div class="form-element editer editer_parent[ (#ENV**{erreurs}|table_valeur{id_parent}|oui)erreur] hide">
                <label for="id_parent"><:titre_cadre_interieur_rubrique:><em class="aide">#AIDER{id_parent}</em></label>[
                <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_parent})</span>
                ]
                (#VAL|chercher_rubrique{#ENV{id_article},#ENV{id_parent},'article',#ENV{id_secteur},#ENV**{config}|table_valeur{restreint},0,form_simple})
            </div>]


                [(#ENV**{config}|table_valeur{articles_descriptif}|=={non}|?{#ENV**{descriptif,''},' '}|oui)
                <div class="form-group editer editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
                    <label for="descriptif">
                        <:texte_descriptif_rapide:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>
                    ]<textarea name='descriptif' id='descriptif' [ lang='(#LANGUE)' ] rows='2' cols='40'
                               class="form-control">[(#ENV**{descriptif})]</textarea>
                </div>
                ]


                [(#ENV**{config}|table_valeur{articles_texte}|=={non}|?{#ENV**{texte,''},' '}|oui)
                <div class="form-group editer editer_texte obligatoire[ (#ENV**{erreurs}|table_valeur{texte}|oui)erreur]">
                    <label for="text_area">
                        <:info_texte:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{texte})</span>
                    ][(#ENV**{_texte_trop_long,''})]
                    <textarea name='texte' id='text_area' [ lang='(#LANGUE)' ]
                              cols='40' class="form-control">[(#ENV**{texte})]</textarea>
                </div>
                ]

                [(#SAISIE{fichiers, image, label='Image'})]



                [<div class="form-group">
                (#SAISIE{selection_multiple, association,
                label=Association(s),
                datas=#ENV{tab_associations},
                multiple=oui})
            </div>]



<div class="row">
    <div class="col-md-6">

        <div class="form-group editer editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
            <label for="descriptif">
                Thèmes :
            </label>
            [<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>]

            <input type="hidden" class="bombe"
                   id="themes"
                   name="themes"
                   value="[(#ENV{tab_tags}|implode{","})]"
            [(#ENV{aide_liste}|?{style="display:none;"})] />

            [(#INCLURE{fond=prive/inclure/arbre_tag}{tab_tags})]
        </div>

    </div>
    <div  class="col-md-6">

        [<div class="form-group">
        (#SAISIE{selection_multiple, mots,
        label=Tags,
        datas=#ENV{mots_datas},
        multiple=oui})
    </div>]

    </div>


</div>




            </div>

         <p class='boutons'><input type='submit' name="save" class="submit btn btn-success" value='<:bouton_enregistrer:>'/></p>
        </div>
    </form>
    ]
    <script type="application/javascript">
        $(document).ready(function () {
            $("#champ_mots").select2({
                tags: true,
                width:'100%',
                tokenSeparators: [','],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }

                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });




            $("#champ_association").select2({
                width:'100%',
                tokenSeparators: [',']
            });

            poser_la_bombe();
        })
    </script>


</div>
