<div class="formulaire_spip formulaire_editer formulaire_editer_article formulaire_editer_article-#ENV{id_article,nouveau}">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV{message_ok}|oui)Votre offre d'emploi a bien été enregistrée, elle est désormais en attente de validation par les administrateurs du site internet. Merci</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    [(#ENV{editable})
    <form method='post' action='#ENV{action}'>
        <div>
            [(#REM) declarer les hidden qui declencheront le service du formulaire
            parametre : url d'action ]
            #ACTION_FORMULAIRE
            <input type='hidden' name='id_article' value='#ENV{id_article}'/>

            <div class="editer-groupe">

                <div class="form-group editer editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
                    <label for="titre">
                        <:info_titre:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
                    ]<input type='text' class='text form-control' name='titre' id='titre' [ lang='(#LANGUE)' ]
                            value="[(#ENV**{titre,''})]"
                            placeholder="<:info_titre_emploi|attribut_html:>"/>
                </div>



                [<div class="form-group">
                (#SAISIE{selection, id_parent,
                label=Type d'offre,
                datas=#ENV{tab_type_offre}})
            </div>]



                <div class="form-group editer editer_chapo obligatoire[ (#ENV**{erreurs}|table_valeur{chapo}|oui)erreur]">
                    <label for="chapo">
                        <:info_nom_stucture:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{nom_structure})</span>
                    ]<input type='text' class='text form-control' name='chapo' id='chapo' [ lang='(#LANGUE)' ]
                            value="[(#ENV**{chapo,''})]"/>
                </div>








                <div class="form-group editer editer_poste obligatoire[ (#ENV**{erreurs}|table_valeur{poste}|oui)erreur]">
                    <label for="text_poste">
                        <:info_poste:>
                    </label>[
                    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{poste})</span>
                    ][(#ENV**{_poste_trop_long,''})]
                    <textarea name='poste' id='text_poste' [ lang='(#LANGUE)' ]
                              rows="10"   class="form-control" placeholder="<:placeholder_poste:>">[(#ENV**{poste})]</textarea>
                </div>












            </div>


            <!--extra-->
            <p class='boutons'><input type='submit' name="save" class='submit btn btn-primary' value='<:bouton_enregistrer:>'/></p>
        </div>
    </form>
    ]
    <script type="application/javascript">
        $(document).ready(function () {
            $("#champ_mots").select2({
                tags: true,
                width:'100%',
                tokenSeparators: [','],
                createTag: function (params) {
                    var term = $.trim(params.term);

                    if (term === '') {
                        return null;
                    }
                    return {
                        id: term,
                        text: term,
                        newTag: true // add additional parameters
                    }
                }
            });







            $("#champ_association").select2({
                width:'100%',
                tokenSeparators: [',']
            });

            poser_la_bombe();


        })
    </script>


</div>
