<div class="formulaire_spip formulaire_recherche[ (#ENV{class})]" id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get" class="form-inline"><div>
	[(#ENV{action}|form_hidden)]
	[<input type="hidden" name="lang" value="(#ENV{lang})" />]

	<div class="form-group">
		<input type="[(#HTML5|?{search,text})]" class="search text form-control" size="19" name="recherche" id="#ENV{_id_champ}"[ value="(#ENV{recherche})"] accesskey="4" autocapitalize="off" autocorrect="off" placeholder="Rechercher" />
	</div>
	<button type="submit" class="submit">OK</button>
</div></form>
</div>
