

legend {
  font-size: $font-size-h3-em;
  line-height: $emLineHeight / strip-unit($font-size-h3-em);
  margin-bottom: $emVertMargin / strip-unit($font-size-h3-em) / 2;
  margin-top: $emVertMargin / strip-unit($font-size-h3-em) / 2;
}

/* Surcharge RTL */
.rtl {
  .form-search .input-append .search-query {
    border-radius: 0 14px 14px 0;
  }
  .form-search .input-append .btn {
    border-radius: 14px 0 0 14px;
  }
  .form-search .input-prepend .search-query {
    border-radius: 14px 0 0 14px;
  }
  .form-search .input-prepend .btn {
    border-radius: 0 14px 14px 0;
  }
}

/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip {
  clear: both;
  margin-bottom: $emLineHeight;
  padding: $emLineHeight;
  background-color: $well-bg;
  position: relative;
}

.formulaire_spip form {
  margin-bottom: 0
}

.formulaire_spip .boutons {
  background-color: $well-bg;
  border-top: 1px solid $legend-border-color;

  margin: 0 (-$emLineHeight) (-$emLineHeight);
  padding: $emLineHeight;
  text-align: right;
}

.secondary {
  .formulaire_spip {
    padding: $emLineHeight/2;
  }
  .formulaire_spip .boutons {
    margin: 0 (-$emLineHeight/2) (-$emLineHeight/2);
    padding: $emLineHeight/2;
  }
}

input.submit, .formulaire_spip button.submit:not(.btn-link) {
  @extend .btn;
  @extend .btn-default;
}

/* Lignes */
.formulaire_spip .editer-groupe,
  // et compat legacy
.formulaire_spip > div > ul,
.formulaire_spip fieldset > ul,
.formulaire_spip .fieldset > ul,
.formulaire_spip form > ul,
.formulaire_spip form > div > ul {
  margin-left: 0;
  list-style: none;
  @extend .form-group;
}

.formulaire_spip .editer {
  list-style: none;
  clear: both;
  margin: 0 (-$emLineHeight);
  padding: $emLineHeight/4 $emLineHeight $emLineHeight/2;
}

.formulaire_spip label {
  font-weight: inherit;
  margin-bottom: $emVertMargin / 4
}

/* Explications */
.formulaire_spip .explication {
  @extend .help-block;
}

.formulaire_spip .explication {
  margin: 0 0 $emVertMargin;
}

.formulaire_spip .editer-groupe .explication {
  margin: $emVertMargin / 8 0;
}

.formulaire_spip label + .explication {
  margin-top: -$emVertMargin / 8
}

/* Champs obligatoires */
.formulaire_spip .editer.obligatoire {
}

.formulaire_spip .editer.obligatoire label {
  font-weight: bold;
}

/* choix */
.formulaire_spip input.radio, .formulaire_spip input.checkbox {
  display: inline-block;
}

.formulaire_spip .choix label {
  display: inline;
  font-weight: normal;
}

.formulaire_spip .choix input.radio, .formulaire_spip .choix input.checkbox {
  width: auto;
  margin: $paddingMini;
  margin-left: 0;
  margin-bottom: 1px;
}

/* choix de mot dans le form forum notamment */
.formulaire_spip .choix_mots {
  @include make-row;
}

.formulaire_spip .choix_mots .saisie_mot {
  @include make-xs-column(6);
  @media (max-width: $screen-xs-min) {
    width: 100%;
    float: none;
  }
}

.formulaire_spip .choix_mots .saisie_mot:nth-child(2n-1) {
  clear: both;
}

.formulaire_spip .choix_mots .saisie_mot label {
  display: inline;
  font-weight: normal;
}

.formulaire_spip .choix_mots .saisie_mot input.radio,
.formulaire_spip .choix_mots .saisie_mot input.checkbox {
  width: auto;
  margin: $paddingMini;
  margin-left: 0;
  margin-bottom: 1px;
}

/* Champs de saisie */
.formulaire_spip {
  input.text, input.password, input.email, input.date,
  textarea,
  select {
    @extend .form-control;
    width: 90%;
  }
  textarea {
    height: auto;
  }

  .markItUp .markItUpContainer .markItUpHeader {
    width: 80%;
    padding-right: 6px;
    padding-left: 6px;
  }
  .markItUp .markItUpContainer .markItUpHeader + textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
  }
}

/* Reponses, previsu et erreurs
----------------------------------------------- */

/* * Erreurs */
.editer.erreur {
  background-color: $state-danger-bg;
  input.text, input.password, input.email, input.date,
  textarea,
  select {
    border-color: $state-danger-text;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($state-danger-text, 10%);
      $shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px lighten($state-danger-text, 20%);
      @include box-shadow($shadow);
    }
  }
}

.editer .erreur_message {
  display: block;
  color: $state-danger-text;
  font-weight: bold;
}

.editer .erreur_message label {
  display: inline;
}

.editer .erreur_message input {
  margin: 0;
}

/* Reponses */
.reponse_formulaire {
  @extend .alert;
}

.reponse_formulaire_ok {
  @extend .alert-success;
}

.reponse_formulaire_erreur {
  @extend .alert-danger;
}

/* Variantes et cas particuliers
----------------------------------------------- */

/* quelques fieldset.info qui ne sont pas des messages d'info */
.formulaire_spip fieldset.info {
  background-color: inherit;
  color: inherit;
  text-shadow: inherit;
  @include border-radius(inherit);
  //@extend fieldset;
}

/* Selection des langues */
.formulaire_menu_lang {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
}

.formulaire_menu_lang form select {
  width: 100%;
}

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche, .secondary .formulaire_recherche {
  padding: 0;
  background: none;
  border: 0;
  input.text {
    width: 100%;
  }
}

#formulaire_recherche {
  padding-right: 0;
}

/* Formulaire de login dans une page */
.formulaire_login form .editer {
  clear: left;
}

.formulaire_login form input.text,
.formulaire_login form input.password {
  width: 60%;
  @media (max-width: $screen-xs) {
    width: 100%;
  }
}

.formulaire_login form .editer_password .details {
  margin-bottom: 0;
}

.formulaire_login #spip_logo_auteur {
  float: right;
  @media (max-width: $screen-xs) {
    margin-top: -35px;
  }
}

