@import "bootstrap/css/pagination.scss";

.pagination>ul {
	@extend .pagination;
	margin:0;
}

.pagination .pagination-label {
  display: inline-block;
}
.pagination .label {
  float: left;
  color: inherit;
  background: transparent;
  text-shadow: none;
  padding: 4px;
  line-height: $line-height-base;
}

.pagination-mini .pagination-label,
.pagination-small .pagination-label {position: absolute; left: -999em; height: 1%; }

/* tri, analogue a pagination mais avec des boutons de tri dedans */
.tri {
  display: block;
  margin: $line-height-computed 0;
}
