@import "bootstrap/css/scaffolding.scss";
@import "bootstrap2spip/css/spip.variables.scss";
//
// Scaffolding
// --------------------------------------------------

// Body reset
// -------------------------
html { font-size: 100.01%; } /* pour IE < 6 */
/* Cf.: http://www.pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ et http://forum.alsacreations.com/topic-4-54377-1.html */

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $emFontSize;
  line-height: $emLineHeight;
  color: $text-color;
  background-color: $body-bg;
}

/* On peut fournir un texte alternatif dans le <i></i> de l'icon, il est masque */
[class^="icon-"],
[class*=" icon-"] {
	text-indent: 100px;
	overflow: hidden;
}

/* Logos, documents et images */
.spip_logos {}

.spip_documents_left,
.spip_documents_right,
.spip_documents_center img,
.spip_documents:not(.spip_documents_left):not(.spip_documents_right) img,
.spip_logos {/*.img-polaroid ou .img-rounded ou .img-circle*/}

.spip_documents { margin-top: $emVertMargin;margin-bottom: $emVertMargin; background: none; }
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; text-align: center; max-width: 100%;}
.spip_documents_center { clear: both; display: block; width: 100%; @include box-sizing(border-box);}

dl.spip_documents { dt,dd {margin-left:auto;margin-right:auto;padding-left:0;padding-right:0}}

.spip_documents_left { float: left; margin: $padding-large-vertical $padding-large-horizontal;margin-left: 0; }
.spip_documents_right { float: right; margin: $padding-large-vertical $padding-large-horizontal;margin-right: 0; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }

.cartouche {&:last-child{margin-bottom: 0};margin-bottom: $emVertMargin;}
.cartouche,.hero-unit,.entry-title {
  .spip_logos {float: right; clear: right; margin: $padding-large-vertical $padding-large-horizontal; margin-top: 0;margin-right: 0; line-height: 1px;}
}
.cartouche,.hero-unit,.entry{
  h1+.publication {margin-top: -1 * $emVertMargin;}
  .publication { @include opacity(80);}
}
.entry {margin-bottom: $emVertMargin;}
.secondary .entry-title .spip_logos { margin: $padding-small-vertical $padding-small-horizontal; margin-top: 0;margin-right: 0; }
.postmeta >:first-child >.sep:first-child {display: none}

/* Notes */
.notes {
  @extend small;
  padding-top: $emVertMargin;
  margin-top: $emVertMargin;
  max-width: $container-md * 5 / 12;
}
.notes > h2 {border-bottom: 2px solid lighten($gray-light, 20%);}
.notes > div p {font-size: inherit;line-height: inherit;font-weight: 200;}
.notes > div {padding-left: $container-md / $grid-columns; position: relative; }
.notes .spip_note_ref { display:block;position:absolute;left:0;width: $container-md / $grid-columns - $grid-gutter-width;}
.secondary {
  .notes > div {padding-left: 2*$grid-gutter-width;}
  .notes .spip_note_ref { width: 2*$grid-gutter-width;}
}

/* Liens */
a {color: $link-color;}
a:focus,
a:hover,
a:active { background-color: adjust-hue(lighten($link-color,50%) / 4 + $gray-lighter / 4 * 3, 20%); color: $link-hover-color; text-decoration: $link-hover-decoration; }
a[hreflang]:after { content: "\0000a0(" attr(hreflang) ")"; }
@media print {
  a, a:visited { color: $text-color; text-decoration: underline; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
}
a {  }

/* Liens de SPIP */
a.spip_note { font-weight: bold; } /* liens vers notes de bas de page */
a.spip_in {} /* liens internes */
a.spip_mail {}
a.spip_out {} /* liens sortants */
a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */
@media print {
	a.spip_out:after,
	a.spip_url:after { content: " (" attr(href) ")"; }
}

.on { font-weight: bold; }
