<B_TAGS>
<div class="tags" id="nuage_tags">
<BOUCLE_TAGS(GROUPES_MOTS){id_groupe=#CONFIG{bombe/id_groupe}}>
    #SET{tab_mot_doublon,#ARRAY}
    #SET{id_tag,#ID_GROUPE}
    <ul>
    <B_GROUPESTAGS>
            <BOUCLE_GROUPESTAGS(GROUPES_MOTS){titre=="^tags "}{id_parent=#ID_GROUPE}{par titre}{doublons}>
            <li class="groupetag">
            #SET{titre_temp,#TITRE|substr{5}}
            <BOUCLE_TAGS0(MOTS){id_groupe=#GET{id_tag}}{titre=#GET{titre_temp}}{par titre}>
                    <div class="supertag tag[ selected(#ID_MOT|in_array{#ENV{tab_tags}}|oui)]" id="tag#ID_MOT">#TITRE</div>
                    #SET{tab_mot_doublon,#GET{tab_mot_doublon}|push{#ID_MOT}}
            </BOUCLE_TAGS0>
            <B_TAGS3>
            <ul>
                    <BOUCLE_TAGS3(MOTS){id_groupe}{par titre}>
                    <li><span class="tag[ selected(#ID_MOT|in_array{#ENV{tab_tags}}|oui)]" id="tag#ID_MOT">#TITRE</span></li>
                    </BOUCLE_TAGS3>
            </ul>
            </B_TAGS3>
            </li>
            </BOUCLE_GROUPESTAGS>
    </B_GROUPESTAGS>
    <B_TAGS4>
            <BOUCLE_TAGS4(MOTS){id_groupe=#GET{id_tag}}{id_mot !IN #GET{tab_mot_doublon}}{par titre}>
            <li><span class="tag[ selected(#ID_MOT|in_array{#ENV{tab_tags}}|oui)]" id="tag#ID_MOT">#TITRE</span></li>
            </BOUCLE_TAGS4>
            <BOUCLE_GROUPESTAGS_autre(GROUPES_MOTS){id_parent=#ID_GROUPE}{par titre}{doublons}>
            <li class="groupetag">
              <div class="supertag">#TITRE</div>
                    <ul>
                    <BOUCLE_TAGS_autre(MOTS){id_groupe}{par titre}>
                    <li><span class="tag[ selected(#ID_MOT|in_array{#ENV{tab_tags}}|oui)]" id="tag#ID_MOT">#TITRE</span></li>
                    </BOUCLE_TAGS_autre>
                    </ul>
            </li>
            </BOUCLE_GROUPESTAGS_autre>
    </B_TAGS4>
    </ul>
</BOUCLE_TAGS>
</div>
</B_TAGS>
