[(#REM)

  Squelette Presentation d'un article dans une liste
  (c) 2009 Zpip
  Distribue sous licence GPL

]
<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
<li class="item hentry">
    <h3 class="h3 entry-title #EDIT{titre}"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|#URL_ARTICLE|left|image_reduire{200,180}|image_recadre{200,180})]#TITRE</a></h3>
	<div class="info-publi-actu">[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr>]</div>

	<B_asso>
		<div class="liste_asso">
			<BOUCLE_asso(ASSOCIATIONS){id_article}{', '}>
			<span class="label label-primary"><a href="[(#URL_ASSOCIATION)]" title="#NOM">[(#SIGLE|sinon{#NOM})]</a></span>
			</BOUCLE_asso>
		</div>
	</B_asso>
	<B_theme>
		<div class="liste_theme">
			<BOUCLE_theme(MOTS){id_groupe=14}{id_article}{', '}>
				<span class="label label-default label-mot#ID_MOT">
					<a href="[(#URL_MOT)]">#TITRE</a>
				</span>
			</BOUCLE_theme>
		</div>
	</B_theme>

    [<div class="#EDIT{intro} introduction entry-content">(#INTRODUCTION{300})</div>]
	<div class="meta-publi">
	<a class="lire-la-suite" href="#URL_ARTICLE"><span class="lire-la-suite-titre"><:zpip:lire_la_suite_de:> <em>#TITRE</em></span></a>
	<BOUCLE_nb_commentaires(FORUMS) {id_article}{plat} />	[(#TOTAL_BOUCLE|oui)
		<span class="sep">|</span>
		<a[ href="(#URL_ARTICLE|ancre_url{forum})"] class="nb_commentaires">[(#TOTAL_BOUCLE)]&nbsp;[(#TOTAL_BOUCLE|=={1}|?{<:zpip:commentaire:>,<:zpip:commentaires:>})]</a>
		]
	<//B_nb_commentaires>
	</div>
</li>
</BOUCLE_articles>
