<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
<div class="actu">
    <h3 class="h3 entry-title #EDIT{titre}"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|#URL_ARTICLE|left|image_reduire{0,75}|image_recadre{150,75})]#TITRE</a></h3>
	<div class="info-publi-actu">
        [<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr>]
        <B_asso>
            <div class="liste_asso">
                <BOUCLE_asso(ASSOCIATIONS){id_article}{', '}>
                <span class="label label-primary"><a href="[(#URL_ASSOCIATION)]" title="#NOM">[(#SIGLE|sinon{#NOM})]</a></span>
                </BOUCLE_asso>
            </div>
        </B_asso>
        <B_theme>
            <div class="liste_theme">
                <BOUCLE_theme(MOTS){id_groupe=14}{id_article}{', '}>
				<span class="label label-default label-mot#ID_MOT">
					<a href="[(#URL_MOT)]">#TITRE</a>
				</span>
                </BOUCLE_theme>
            </div>
        </B_theme>
    </div>
	[<div class="#EDIT{intro} introduction entry-content">(#INTRODUCTION{150})</div>]
	<div class="meta-publi">
	<a class="lire-la-suite" href="#URL_ARTICLE"><span class="lire-la-suite-titre">Lire la suite</span></a>
	</div>
</div>
</BOUCLE_articles>
