<BOUCLE_vevent(EVENEMENTS){id_evenement=#ENV{id,#ENV{id_evenement}}}{tout}>
[(#SET{annee,#DATE_DEBUT|annee})][(#SET{mois,#DATE_DEBUT|nom_mois})][(#SET{jour,#DATE_DEBUT|jour})]
<article class="entry evenement vevent id_#ID_EVENEMENT clearfix" id="evenement_#ID_EVENEMENT" itemscope itemtype="http://schema.org/Event">
	<div class="row-fluid">
		<div class="col-md-2">

			<span class="banner #EDIT{date_debut}"><span class="label label-inverse"><:agenda:date_fmt_agenda_label{annee=#GET{annee},mois=#GET{mois},jour=#GET{jour}}:></span></span>



		</div>


		<div class="col-md-10">
			<BOUCLE_evt_source(EVENEMENTS){id_evenement=#ID_EVENEMENT_SOURCE}>
			[(#SET{logo,#LOGO_EVENEMENT})]
			</BOUCLE_evt_source>
			<BOUCLE_articles(ARTICLES){id_evenement}>

			[(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE})] ]
			[(#SET{url_article,#URL_ARTICLE})]


			</BOUCLE_articles>
			<div class="corp_texte">


						<strong class="h3-like summary entry-title #EDIT{titre}">[(#LOGO_EVENEMENT|image_reduire{200,200}|inserer_attribut{itemprop,image})]<span itemprop="name">#TITRE</span><span
								class="lire-la-suite hide"><i class="icon-chevron-right" title="<:zpip:lire_la_suite|attribut_html:><:zpip:lire_la_suite_de|attribut_html:>&laquo;[(#TITRE|attribut_html)]&raquo;"></i></span></a></strong>
						<meta itemprop="startDate" content="[(#DATE_DEBUT|date_iso)]" />
						<meta itemprop="endDate" content="[(#DATE_FIN|date_iso)]" />
						[<p class="info-publi"><time><i class="icon-calendar"></i> (#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*,'hcal'})</time></p>]
					<p>	#SET{organisateur,#AUTEURS_1}
#SET{autres,#AUTRES}
#SET{contact,#CONTACT}
PAR :


<B_aut>
<BOUCLE_aut(AUTEURS){id_auteur=#GET{organisateur}}{tout}>
[(#NOM)]
#SET{organisateur,""}
</BOUCLE_aut>

[(#GET{autres})]
#SET{autres,""}

[&nbsp;-&nbsp;Contact : (#GET{contact})] #SET{contact,""} </p>

						#SET{intro,''}<BOUCLE_art(ARTICLES){si #ENV{sinon_intro_article,oui}|=={non}|ou{#ENV{intro}|=={non}}|non}{id_article}>#SET{intro,#INTRODUCTION{#ENV{coupe,300}}</BOUCLE_art>
						[(#ENV{intro,oui}|=={non}|non|et{#DESCRIPTIF}|oui)[(#SET{intro,[<div class="introduction #EDIT{descriptif}" itemprop="description">(#DESCRIPTIF|image_reduire{400,400}|sinon{#GET{intro}})</div>]})]]
						[(#GET{intro}|ou{#LIEU}|ou{#ADRESSE}|oui)
						<div class="entry-content">
							#GET{intro}
							[<p class="location" itemprop="location"><span class="lieu #EDIT{lieu}">Lieu : (#LIEU)</span>[<br /><span class="adresse #EDIT{adresse}">(#ADRESSE|PtoBR)</span>]</p>]
							


						</div>]

			</div>

			[(#SESSION{id_auteur}|oui)[<a href="(#URL_ECRIRE{evenement,id_evenement=#ID_EVENEMENT})">modifier l'évenement</a>]]
			[(#ID_ARTICLE|=={19}|non)<a itemprop="url" class="btn btn-primary pull-right" href="[(#URL_ARTICLE)]">En savoir plus</a>]


		</div>




	</div>
	#BOUTONS_ADMIN_MAGNET

</article>
</BOUCLE_vevent>