<BOUCLE_vevent(EVENEMENTS){id_evenement=#ENV{id,#ENV{id_evenement}}}>
[(#SET{logo,#LOGO_EVENEMENT})]
[(#SET{url_article,''})]

<BOUCLE_evt_source(EVENEMENTS){id_evenement=#ID_EVENEMENT_SOURCE}>
	[(#SET{logo,#LOGO_EVENEMENT})]
	<BOUCLE_articles0(ARTICLES){id_evenement}>
	[(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE})] ]
	[(#ID_ARTICLE|=={19}|non)[(#SET{url_article,#URL_ARTICLE})]]
	</BOUCLE_articles0>
</BOUCLE_evt_source>



<BOUCLE_articles(ARTICLES){id_evenement}>

[(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE|sinon{#CHEMIN{images/mres_agenda.png}}})] ]

</BOUCLE_articles>
[(#GET{logo}|non)[(#SET{url_article,#URL_ARTICLE})]]
<div class="item">
	<div class="logo pull-left">
		<a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
			<img src="[(#GET{logo}|image_reduire{40,40}|sinon{#CHEMIN{images/logo.png}}|image_reduire{80,80}|extraire_attribut{src})]" class="img-rounded spip_logos" />
		</a>
	</div>
	<div class="date">[(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*})]</div>
	<div class="titre">
		<a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
			#TITRE
		</a>
	</div>

	<div class="informations">
		#SET{organisateur,#AUTEURS_1}

		Par :
		<B_aut>

			<BOUCLE_aut(AUTEURS){id_auteur=#GET{organisateur}}{tout}>
			[(#NOM)]
			#SET{organisateur,""}
			</BOUCLE_aut>

		</B_aut>
		[(#AUTRES)]

		[<div class="lieu">Lieu : (#LIEU)</div> ]
		[<div class="contact">Contact : (#CONTACT)</div>]
	</div>
</div>


</BOUCLE_vevent>


