<BOUCLE_articles_res(ARTICLES){id_article}>
<li>
    <a href="#URL_ARTICLE">
        <div class="poste">[(#TITRE|couper{80})]</div>
        <div class="employeur">[(#CHAPO|couper{50})]</div>
    </a>
</li>
</BOUCLE_articles_res>