<div id="liste_des_associations">
    <div id="filtres" class="pas_surlignable clearfix">

        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" class="form-control" placeholder="Rechercher..." name="recherche_asso"
                       id="recherche_rub" value="#ENV{recherche}"/>
            </div>
        </div>
        <div class="col-md-8">
            <INCLURE {fond=liste/filtre/thematique}{tab_mot=#GET{tab_mot}}{mots} />
        </div>
    </div>


    <B_associations>
        <div class="liste_des_resultats clearfix">

            <div class="row-fluid">
                <div class="nb_resultat col-md-6"> Nombre d'associations : <strong>#GRAND_TOTAL</strong></div>
            </div>
            <div class="clearfix"></div>
            <div class="grid list-group">
                <BOUCLE_associations(ASSOCIATIONS){par nom}>
                    <INCLURE {fond=liste/ligne/asso-carre,id_association=#ID_ASSOCIATION} />
                </BOUCLE_associations>
            </div>

        </div>
        <script type="application/javascript">


            conteneur = $("#filtres");
            $("select", conteneur).each(function () {
                $(this).select2({
                    multiple: true,
                    language: 'fr',
                    placeholder: "Choissisez un ou plusieurs themes"


                });
            });

            var qsRegex = new RegExp($('input[name=recherche_asso]').val(), 'gi');
            var filtre_theme = '';


            grid = $('.grid');
            $(grid).isotope({
                itemSelector: '.element-item',

                filter: function () {
                    yo = filtre_theme != '' ? $(this).hasClass(filtre_theme) : true;
                    return qsRegex ? $('.h4', this).text().match(qsRegex) && yo : true && yo;
                }
            });

            $("select", conteneur).on('change', function (e) {
                mots = $(this).val()
                if (mots)
                    filtre_theme = 'mot' + mots.join(' mot');
                else
                    filtre_theme = '';
                $(grid).isotope();

            });


            // use value of search field to filter
            var $quicksearch = $('input[name=recherche_asso]').keyup(debounce(function () {
                qsRegex = new RegExp($quicksearch.val(), 'gi');
                $(grid).isotope();
            }, 200));

            // debounce so filtering doesn't happen every millisecond
            function debounce(fn, threshold) {
                var timeout;
                return function debounced() {
                    if (timeout) {
                        clearTimeout(timeout);
                    }
                    function delayed() {
                        fn();
                        timeout = null;
                    }

                    timeout = setTimeout(delayed, threshold || 100);
                }
            }


        </script>

    </B_associations>
    <:association:info_aucun_association:>
        <div class="loser">
            <:recherche_infructueuse:>
        </div>
    <//B_associations>


</div>








