<BOUCLE_content(ARTICLES){id_article}>
<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<div class="row-fluid" >


	<div class="content col-md-8" id="content">
		<article>



	<!-- Titre de l'article -->
	<div class="cartouche">
		<div class="surlignable">

		[(#LOGO_ARTICLE||image_reduire{200,200})]
		[<p class="#EDIT{surtitre} surtitre">(#SURTITRE)</p>]
		<h1 class="#EDIT{titre} entry-title">[(#TITRE)]</h1>
			[<p class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</p>]
			<div class="information">

					<BOUCLE_mots(MOTS) {id_article?}{id_auteur?}{par titre}{tout}{", "}>
					<a href="#URL_MOT">#TITRE</a>
					</BOUCLE_mots>
				<B_asso>
					<span class="liste_asso">
						<BOUCLE_asso(ASSOCIATIONS){id_article}{', '}>
						<span class="label label-primary"><a href="[(#URL_ASSOCIATION)]">#NOM</a></span>
						</BOUCLE_asso>
					</span>
				</B_asso>

				<div class="date_publication">
				[(#DATE|nom_jour)] [(#DATE|affdate)]
				</div>
			</div>
		</div>
	</div>
						


        <div class="surlignable">
			[<div class="#EDIT{chapo} chapo">(#CHAPO|image_reduire{500,0})</div>]
			[<div class="#EDIT{texte} texte entry-content[(#GET{stat}|oui) expandable]">(#TEXTE|image_reduire{500,0})</div>]
		</div>


		[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:> : <a href="(#URL_SITE)" class="spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
        
		[<div class="ps surlignable">
            <h2 class="pas_surlignable"><:info_ps:></h2>
            <div class="#EDIT{ps}">(#PS|image_reduire{500,0})</div>
        </div>]


        [<div class="notes surlignable"><h2 class="pas_surlignable"><:info_notes:></h2>(#NOTES)</div>]


		[(#INCLURE{fond=inclure/outils})]


		#BOUTONS_ADMIN_MAGNET

		</article>

	</div>




	<div class="aside secondary col-md-3" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>

</div>

</BOUCLE_content>
