<BOUCLE_content(ARTICLES){id_article}>
<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<div class="row-fluid">
    <div class="content col-md-8" id="content">
        <article>
            <header class="cartouche">
                [<div class="logo pull-right">(#LOGO_ARTICLE|#URL_ARTICLE|image_reduire{250,250}|inserer_attribut{class,"img-responsive img-rounded"})</div>]

                <h1>
                    [
                    <small class="#EDIT{surtitre} surtitre">(#SURTITRE)</small>
                    <br/>]
                    <span class="#EDIT{titre}">#TITRE</span>[
                    <small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
                    ]
                </h1>

                <p class="publication">
                    <time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i>
                        [(#DATE|nom_jour) ][(#DATE|affdate)]
                    </time>
                    [<span class="authors"><span class="sep">, </span><i class="icon-user"></i> <:par_auteur:>
                    (#LESAUTEURS)</span>]
                </p>

            </header>

            <div class="main">
                [<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|adaptive_images)</div>]
                [<div class="#EDIT{texte} texte surlignable">(#TEXTE|adaptive_images)</div>]
                    
                [<p class="#EDIT{hyperlien} hyperlien">
                    <:voir_en_ligne:> : <a href="(#URL_SITE)" class="spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a>
                </p>]

                <h2>Expériences inspirantes</h2>
<BOUCLE_champs_experiences (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %experience%}>
<BOUCLE_reponses_experiences (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart experience">
<h3>#VOIR_REPONSE{input_1,brut}</h3>
<p>#VOIR_REPONSE{input_2,label}&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}</p>
<p>[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})]</p>
<p>#VOIR_REPONSE{checkbox_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{checkbox_1,valeur_uniquement}</p>
<p>Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})][, (#VOIR_REPONSE{input_6,brut})]</p>
[<p>#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement})</p>]
[<p>#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a></p>]
<p>#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_experiences>
</BOUCLE_champs_experiences>

<h2>Méthodologies / outils</h2>
<BOUCLE_champs_methodo (FORMULAIRES_REPONSES_CHAMPS){nom=checkbox_1}{valeur LIKE %methodo%}>
<BOUCLE_reponses_methodo (FORMULAIRES_REPONSES){id_formulaires_reponse}>
<div class="encart methodo">
<h3>#VOIR_REPONSE{input_1,brut}</h3>
<p>#VOIR_REPONSE{input_2,label}&nbsp;:&nbsp;#VOIR_REPONSE{input_2,brut}</p>
<p>[#VOIR_REPONSE{input_3,label}&nbsp;:&nbsp;(#VOIR_REPONSE{input_3,brut})]</p>
<p>#VOIR_REPONSE{checkbox_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{checkbox_1,valeur_uniquement}</p>
<p>Mots clé : #VOIR_REPONSE{input_4,brut}[, (#VOIR_REPONSE{input_5,brut})][, (#VOIR_REPONSE{input_6,brut})]</p>
[<p>#VOIR_REPONSE{radio_1,label}&nbsp;:&nbsp;(#VOIR_REPONSE{radio_1,valeur_uniquement})</p>]
[<p>#VOIR_REPONSE{input_7,label}&nbsp;:&nbsp;<a href="#VOIR_REPONSE{input_7,brut}" target="_blank">(#VOIR_REPONSE{input_7,brut})</a></p>]
<p>#VOIR_REPONSE{textarea_1,label}&nbsp;:&nbsp;#VOIR_REPONSE{textarea_1,brut}</p>
</div>
</BOUCLE_reponses_methodo>
</BOUCLE_champs_methodo>


            </div>

            <footer>
                [<div class="#EDIT{ps} ps surlignable">
                    <h2>
                        <:info_ps:>
                    </h2>
                    (#PS|adaptive_images)
                </div>]
                [<div class="notes">
                    <h2>
                        <:info_notes:>
                    </h2>
                    (#NOTES)
                </div>]
            </footer>

            <aside>
                [(#REM) Gestion du portfolio et des documents ]
                [(#INCLURE{fond=inclure/documents,id_article})]

            </aside>

            [(#INCLURE{fond=inclure/outils})]
            #BOUTONS_ADMIN_MAGNET
        </article>

    </div>

    <div class="aside secondary col-md-4" id="aside">
        <INCLURE{fond=aside/#ENV{type-page},env} />
    </div>
</div>

</BOUCLE_content>
