<BOUCLE_content(MOTS) {id_mot} {doublons}>
<section>
	<div class="row-fluid">
		<div class="content col-md-12" id="content">
  <header class="cartouche">
      <h1 class="#EDIT{titre}">#TITRE</h1>
  </header>

	<div class="main">
		[<div class="#EDIT{texte} chapo">(#TEXTE|adaptive_images)</div>]
	</div>

	<aside>
		<div class="row">

		<div class="col-md-12">

			<div class="main grid">
				<div class="grid-sizer"></div>
				<div class="gutter-sizer"></div>



		[(#REM) Articles lies au mot-cle ]
		<B_news>
			<div class="grid-item">
				<div class="liste articles">
					<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
					<h3 class="h3">Actualité de ce thème</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_news(ARTICLES){id_rubrique=24}{id_mot} {par date}{age<365}{inverse}{pagination 10}>
								[(#INCLURE{fond=inclure/article-sommaire,id_article})]
								</BOUCLE_news>
							</ul>
						</div>
						<div class="panel-footer">
						[<div class="pagination">(#PAGINATION)</div>]
					</div>
					</div>
				</div>
			</div>
		</B_news>


		<B_agenda>
			<div class="grid-item">
				<div class="liste agenda">
									<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
							<h3 class="h3">Agenda de ce thème</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_agenda(EVENEMENTS) {id_mot}{!evenement_passe}{par date} {pagination 10}>
								<INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT}/>
								</BOUCLE_agenda>
							</ul>
						</div>
						<div class="panel-footer">
							[<div class="pagination">(#PAGINATION)</div>]
						</div>
					</div>
				</div>
			</div>
		</B_agenda>


	<B_rubrics>
				<div class="grid-item">
				<div class="liste articles">
					#ANCRE_PAGINATION
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="h3"><:rubriques:> rattachés à ce thème</h3>
							</div>
							<div class="panel-body">
								<ul class="liste-items">
									<BOUCLE_rubrics(RUBRIQUES) {id_secteur!=36}{id_rubrique!=24}{id_rubrique!=22}{id_mot} {par date}{inverse} {pagination 10}>
									<li class="item">
										<a href="#URL_RUBRIQUE">#TITRE</a>
									</li>
									</BOUCLE_rubrics>
								</ul>
								[<div class="pagination">(#PAGINATION)</div>]
							</div>
						</div>
				</div>
				</div>
			</B_rubrics>

		<B_association>
			<div class="grid-item">
			<div class="liste associations">

					<div class="panel panel-default">
						#ANCRE_PAGINATION
						<div class="panel-heading">
							<h3 class="h3">Associations de ce thème</h3>
						</div>
						<div class="panel-body">
							<ul class="liste-items">
								<BOUCLE_association(ASSOCIATIONS spip_mots_liens){id_mot}{par nom}{pagination 10}>
								<li class="item">
									<a href="#URL_ASSOCIATION">
										[(#LOGO_ASSOCIATION|right|image_reduire{40,40})]
										<div class="sigle">#SIGLE</div>
									</a>
								</li>
								</BOUCLE_association>
							</ul>
						</div>
						<div class="panel-footer">
							[<div class="pagination">(#PAGINATION)</div>]
						</div>
					</div>
				</div>
			</div>
		</B_association>

				<B_emplois>
					<div class="grid-item">
						<div class="liste articles">
							#ANCRE_PAGINATION
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="h3">Emplois de ce thème</h3>
								</div>
								<div class="panel-body">
									<ul class="liste-items">
										<BOUCLE_emplois(ARTICLES) {id_secteur=36}{id_mot} {par date}{inverse}{age<30}</BOUCLE_emplois> {pagination 10}>
										<li class="item">
											<a href="#URL_ARTICLE">#TITRE</a>
											<div class="small">[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr>]</div></li>
										</BOUCLE_emplois>
									</ul>
									[<div class="pagination">(#PAGINATION)</div>]
								</div>
							</div>
						</div>
					</div>
				</B_emplois>


			<B_articles>
				<div class="grid-item">
				<div class="liste articles">
					#ANCRE_PAGINATION
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="h3"><:articles:> rattachés à ce thème</h3>
							</div>
							<div class="panel-body">
								<ul class="liste-items">
									<BOUCLE_articles(ARTICLES) {id_secteur!=36}{id_rubrique!=24}{id_rubrique!=22}{id_mot} {par date}{inverse} {pagination 10}>
									<li class="item">
										<a href="#URL_ARTICLE">#TITRE</a>
										<div class="small">[<abbr class="published" title="[(#DATE|date_iso)]">(#DATE|affdate_jourcourt)</abbr>]</div></li>
									</BOUCLE_articles>
								</ul>
								[<div class="pagination">(#PAGINATION)</div>]
							</div>
						</div>
				</div>
				</div>
			</B_articles>


			</div>

		</div>
	<div class="col-md-2">
		<ul>
			<BOUCLE_mots(MOTS) {id_parent=#ID_MOT}{par titre}>
			<li class="item">
				<a href="#URL_MOT">#TITRE</a>
			</li>
			</BOUCLE_mots>
		</ul>
	</div>



		</div>


		<script type="application/javascript">

			$(document).ready(function(){

				$('.grid').isotope({
					// set itemSelector so .grid-sizer is not used in layout
					itemSelector: '.grid-item',
					percentPosition: true,
					masonry: {
						// use element for option
						columnWidth: '.grid-sizer',
						gutter:'.gutter-sizer'
					}
				});


			});
		</script>




		</aside>







	[<footer>
		<div class="notes"><hr />(#NOTES)</div>
	</footer>]
</section>
</div></div>
</BOUCLE_content>
