<section>
	[<header class="cartouche">
		<h1><:resultats_recherche:>
			<small>&#171;&nbsp;(#RECHERCHE)&nbsp;&#187;</small>
		</h1>
	</header>]
	<div>
		<div class="main grid">
			<div class="grid-sizer"></div>
			<div class="gutter-sizer"></div>
			<div class="grid-item">
				<INCLURE{fond=liste/actus-recherche,env,ajax} />
			</div>
			<div class="grid-item">
				<INCLURE{fond=liste/evts-recherche,env,ajax} />
			</div>
			<div class="grid-item">
				<INCLURE{fond=liste/emplois-recherche,env,ajax} />
			</div>
			<div class="grid-item">
				<INCLURE{fond=liste/articles-recherche,env,ajax} />
			</div>
			<div class="grid-item">
				<INCLURE{fond=liste/rubriques-recherche,env,ajax} />
			</div>
		</div>
	</div>
<script type="application/javascript">

	$(document).ready(function(){

		$('.grid').isotope({
			// set itemSelector so .grid-sizer is not used in layout
			itemSelector: '.grid-item',
			percentPosition: true,
			masonry: {
				// use element for option
				columnWidth: '.grid-sizer',
				gutter:'.gutter-sizer'
			}
		});


	});
</script>

</section>
