<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>
<div class="row-fluid" >
	<div class="content col-md-12" id="content">
		<div class="contenu-principal">
			<div class="cartouche">
				<h1 class="h1 #EDIT{titre}">#TITRE</h1>
				[<p class="info-publi"><span class="published"><:dernier_ajout:> : (#DATE|affdate_jourcourt).</span></p>]
			</div>
			[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]
		</div>


		[(#SET{tri_article,'date'})]
		[(#SET{tri_article_sens,'inverse'})]
		<BOUCLE_option_rubrique(MOTS){id_rubrique}{type='options_affichage'}>
		[(#TITRE|=={tri_antichronologique}|oui)[(#SET{tri_article,date})][(#SET{tri_article_sens,'inverse'})]]
		[(#TITRE|=={tri_chronologique}|oui)[(#SET{tri_article,date})][(#SET{tri_article_sens,'1'})]]
		[(#TITRE|=={masquer_liste_article}|oui)[(#SET{masquer_liste_article,'oui'})]]
		[(#TITRE|=={masquer_liste_rubrique}|oui)[(#SET{masquer_liste_rubrique,'oui'})]]
		[(#TITRE|=={articles_avant_sous_rubriques}|oui)[(#SET{articles_avant_sous_rubriques,'oui'})]]
		</BOUCLE_option_rubrique>


		[(#GET{masquer_liste_article}|non)
		<div class="bloc_section bloc_section_article bloc_emploi">
		<div class="row">
			<div class="col-md-6">
				<h3>Offres publiées depuis 45 jours</h3>
				[(#INCLURE{fond=inclure/plan_emploi_bloc_actuel,id_rubrique})]
			</div>
			<div class="col-md-6">
				[<h3>Anciennes offres</h3>
				<div class="ajax">
					(#INCLURE{fond=inclure/plan_emploi_bloc,id_rubrique,tri=#GET{tri_article},tri_sens=#GET{tri_article_sens},ajax,env})
				</div>
			</div>]
		</div>
	</div>

		[(#GET{articles_avant_sous_rubriques}|oui)
		<script type="application/javascript">
			$('.bloc_section_rubrique').before($('.bloc_section_article'))
		</script>
		]
		]



		[(#REM) Documents joints a la rubrique ]
		[<div class="bloc_section bloc_section_document">
		<div class="row">
			(#INCLURE{fond=inclure/documents}{id_rubrique})
		</div>
	</div>]





		[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]


	</div>



	<div class="aside secondary col-md-12" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>
</div>

</BOUCLE_contenu_rubrique>
