<div class="row-fluid" >
	<div class="content col-md-12" id="content">
		<INCLURE{fond=breadcrumb/#ENV{type-page},env} />

<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>

	<!-- Titre de la rubrique -->
	<div class="cartouche">
		[<h1 class="#EDIT{titre}">(#TITRE)</h1>]
	</div>


<B_zoom_article>

<div class="menu alaune">
    <h2 class="h2 accroche">A la une</h2>
<ul class="menu-liste">
<BOUCLE_zoom_article(ARTICLES){magnet}{id_rubrique}{par date}{inverse}{doublons}>
        [(#INCLURE{fond=inclure/resume/actu-vedette,id_article})]
    	<div class="nettoyeur"></div>

</BOUCLE_zoom_article>
</ul>
</div>
<hr />
</B_zoom_article>				

	

[(#REM) Articles de la rubrique ]
<B_news>

	#ANCRE_PAGINATION

	<div class="menu articles liste_actu">
		<div class="grid3">
			<div class="grid-sizer"></div>
			<div class="gutter-sizer"></div>
			<BOUCLE_news(ARTICLES){id_rubrique}{doublons}{par date}{inverse}{pagination 15}>
			<div class="grid-item">
				[(#INCLURE{fond=inclure/resume/actu_carre,id_article})]
			</div>
			</BOUCLE_news>
		</div>
	</div>
	[<div class="pagination">(#PAGINATION)</div>]
	<script type="application/javascript">
		$(document).ready(function(){

			$('.grid3').isotope({
				// set itemSelector so .grid-sizer is not used in layout
				itemSelector: '.grid-item',
				percentPosition: true,
				masonry: {
					// use element for option
					columnWidth: '.grid-sizer',
					gutter:'.gutter-sizer'
				}
			});
		});
	</script>
</B_news>
	</div>




	<div class="aside secondary col-md-12" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>
</div>

</BOUCLE_contenu_rubrique>
