<INCLURE{fond=breadcrumb/#ENV{type-page},env} />
<BOUCLE_contenu_rubrique(RUBRIQUES){id_rubrique}>
<div class="row-fluid" >
	<div class="content col-md-12" id="content">
		<div class="contenu-principal">
			<div class="cartouche">
				<h1 class="h1 #EDIT{titre}">#TITRE</h1>
				[<p class="info-publi"><span class="published"><:dernier_ajout:> : (#DATE|affdate_jourcourt).</span></p>]
			</div>
			[<div class="#EDIT{texte} chapo">(#TEXTE)</div>]
		</div>




		<div class="rubrique-bloc bloc_emploi">
			<div class="container-fluid">
				<div class="col-xs-12 col-md-4  list-group">
					<BOUCLE_sous_rubriques37(RUBRIQUES) {id_rubrique=37}{doublons}{par num titre, titre}>
					<div>
						<h3>#TITRE</h3>
						[<div class="descriptif #EDIT{descriptif}">(#DESCRIPTIF)</div>]
						[(#INCLURE{fond=inclure/bloc_offre_emploi,id_rubrique})]
					</div>
					</BOUCLE_sous_rubriques37>

				</div>


				<div class="col-xs-12 col-md-4  list-group">
					<BOUCLE_sous_rubriques38(RUBRIQUES) {id_rubrique=38}{doublons}>
					<div>
						<h3>#TITRE</h3>
						[<div class="descriptif #EDIT{descriptif}">(#DESCRIPTIF)</div>]
						[(#INCLURE{fond=inclure/bloc_offre_emploi,id_rubrique})]
					</div>
					</BOUCLE_sous_rubriques38>
				</div>


				<div class="col-xs-12 col-md-4  list-group">
					<BOUCLE_sous_rubriques142(RUBRIQUES) {id_rubrique=142}{doublons}>
					<div>
						<h3>#TITRE</h3>
						[<div class="descriptif #EDIT{descriptif}">(#DESCRIPTIF)</div>]
						[(#INCLURE{fond=inclure/bloc_offre_emploi,id_rubrique})]
					</div>
					</BOUCLE_sous_rubriques142>


					<!--<div class="depot_offre">
					<BOUCLE_sous_article(ARTICLES) {id_article=382}>
						<a class="btn btn-block btn-success btn-lg" href="#URL_ARTICLE"><i class="glyphicon glyphicon-inbox"></i> #TITRE </a>
					</BOUCLE_sous_article>
					</div>-->
					
					[(#INCLURE{fond=inclure/contenu/article,id_article=39})]





				</div>
			</div>
		</div>


		[(#GET{articles_avant_sous_rubriques}|oui)
		<script type="application/javascript">
			$('.bloc_section_rubrique').before($('.bloc_section_article'))
		</script>
		]




		[(#REM) Documents joints a la rubrique ]
		[<div class="bloc_section bloc_section_document">
		<div class="row">
			(#INCLURE{fond=inclure/documents}{id_rubrique})
		</div>
	</div>]





		[<div class="notes"><h2 class="h2"><:info_notes:></h2>(#NOTES)</div>]


	</div>



	<div class="aside secondary col-md-12" id="aside">
		<INCLURE{fond=aside/#ENV{type-page},env} />
	</div>
</div>

</BOUCLE_contenu_rubrique>
