<div class='formulaire_spip formulaire_editer formulaire_#FORM formulaire_#FORM-#ENV{id_association,nouveau}'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	[(#ENV{editable})
	<form method="post" action="#ENV{action}"><div>
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type="hidden" name="id_association" value="#ENV{id_association}" />
		<div class="editer-groupe">

			[(#SAISIE{input, sigle,
				label=<:association:champ_sigle_label:>})]

			[(#SAISIE{input, nom, obligatoire=oui,
				label=<:association:champ_nom_label:>})]

			[(#SAISIE{textarea, adresse,
				label=<:association:champ_adresse_label:>})]

			[(#SAISIE{input, cp,
				label=<:association:champ_cp_label:>})]

			[(#SAISIE{input, ville, obligatoire=oui,
				label=<:association:champ_ville_label:>})]


			[(#SAISIE{input, tel,
				label=<:association:champ_tel_label:>})]

			[(#SAISIE{input, email,
				label=<:association:champ_email_label:>})]

			[(#SAISIE{input, url_site,
				label=<:association:champ_url_site_label:>})]

			[(#SAISIE{input, facebook,
				label=<:association:champ_facebook_label:>})]

			[(#SAISIE{textarea, permanence,
				label=<:association:champ_permanence_label:>})]

			[(#SAISIE{textarea, informations,
				label=<:association:champ_informations_label:>,
				conteneur_class=pleine_largeur, class=inserer_barre_edition, rows=4})]

			[(#SAISIE{textarea, description,
				label=<:association:champ_description_label:>,
				explication=<:association:champ_description_explication:> ,
				conteneur_class=pleine_largeur, class=inserer_barre_edition, rows=4})]

			[(#SAISIE{textarea, document,
				label=<:association:champ_document_label:>,
				conteneur_class=pleine_largeur, class=inserer_barre_edition, rows=4})]

			[(#SAISIE{input, syndication,
				label=<:association:champ_syndication_label:>})]

		</div>
		[(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
		<!--extra-->
		<p class="boutons"><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div></form>
	]
</div>
