[(#REM)
/**
 * Plugin Agenda 4 pour Spip 3.0
 * Licence GPL 3
 *
 * 2006-2011
 * Auteurs : cf paquet.xml
 */
]
#SET{affichage_duree,#ENV{affichage_duree,#CONFIG{agenda/affichage_duree,12}}}
#SET{affichage_debut,#CONFIG{agenda/affichage_debut,#ENV{affichage_debut,date_jour}}}
#SET{date_debut,#ENV{date_debut,#ENV{date}}|agenda_date_debut_liste{#GET{affichage_debut}}}
#SET{date_prev,#GET{date_debut}|agenda_moisdecal{#GET{affichage_duree}|mult{-1},'Y-m-d H:i:00'}}
#SET{date_fin,#GET{date_debut}|agenda_moisdecal{#GET{affichage_duree},'Y-m-d H:i:00'}}

[(#REM) Ne pas afficher l'annee de depart, elle est dans le h2)]
[(#GET{date_debut}|annee|unique{annee}|non)]
<div id="agenda-liste" class="liste long evenements">
<h2>[(#GET{date_debut}|affdate_periode{#GET{affichage_duree},#GET{affichage_debut}})]</h2>
<B_ev>
	<ul class="liste-items evenements">
	<BOUCLE_ev(EVENEMENTS){!evenement_passe #GET{date_debut}}{!evenement_a_venir #GET{date_fin}}{par date_debut}{id_article?}{id_rubrique?}{id_mot?}{id_evenement_source?}>
		[<li class="item item-header month[(#DATE_DEBUT|agenda_date_passee)fini]">(#GET{affichage_duree}|>{1}?{[(#DATE_DEBUT|nom_mois|unique{mois})[ (#DATE_DEBUT|annee|unique{annee})]]})</li>]
		<li class="item[(#DATE_FIN|agenda_date_passee)fini]">
			#INCLURE{fond=inclure/resume/evenement-par-jour,id_evenement}
		</li>
	</BOUCLE_ev>
	</ul>
</B_ev>
	<p><:agenda:info_aucun_evenement:></p>
<//B_ev>

<div class="pagination">
	#SET{hasprev,''}
	<BOUCLE_prev(EVENEMENTS){id_article?}{id_rubrique?}{id_mot?}{id_evenement_source?}{!evenement_a_venir #GET{date_prev}}{0,1}>#SET{hasprev,1}</BOUCLE_prev>
	#SET{hasnext,''}
	<BOUCLE_next(EVENEMENTS){id_article?}{id_rubrique?}{id_mot?}{id_evenement_source?}{!evenement_passe #GET{date_fin}}{0,1}>#SET{hasnext,1}</BOUCLE_next>
	[(#GET{hasprev}|=={1}|ou{#GET{hasnext}|=={1}}|oui)
	[(#INCLURE{fond=modeles/pagination_precedent_suivant,
	label_precedent=#GET{date_prev}|affdate_periode{#GET{affichage_duree}},
	label_suivant=#GET{date_fin}|affdate_periode{#GET{affichage_duree}},
	nombre_pages=#VAL{1}|plus{#GET{hasprev}|?{1,0}}|plus{#GET{hasnext}|?{1,0}},
	page_courante=#GET{hasprev}|?{2,1},
	url_precedent=#SELF|parametre_url{date_debut,#GET{date_prev}|affdate{Y-m-d}},
	url_suivant=#SELF|parametre_url{date_debut,#GET{date_fin}|affdate{Y-m-d}},
	ancre=agenda-liste,
	separateur=' | '})]]
</div>
</div>