<B_art>
<div id="animation">

<BOUCLE_art(ARTICLES){page=slide_animation}>
    [(#TEXTE)]
</BOUCLE_art>
</div>


<script type="application/javascript">

    var diaporama;

    $('#slide1 > div').hide();
    $('#slide2 > div').hide();
    $('#slide3 > div').hide();
    $('#slide0 > div.chemin').hide();
    $('#slide0 > div.bt_chemin').hide();


    function prochaine_diapo(){
        num0 = (slide_en_cours )%4;
        num0 = (num0+1)%4;
        $('.cap[data-num='+num0+']').trigger('click');
    }


    $(document).ready(function () {
        largeur_page = $(window).width();
        if (largeur_page >= 992) {

            $divs_haut = $('#titre_mres, #titre_reseau');
            $divs_bas = $(' #illustration');
            $divs_haut.velocity('transition.bounceDownIn', {duration: 1000, stagger: 300, backwards: true})
            $divs_bas.velocity('transition.bounceUpIn', {duration: 1000, stagger: 300, backwards: false})

            $divs_chemin = $('#slide0 .chemin');
            $divs_chemin.velocity("reverse").velocity('transition.bounceLeftIn', {
                duration: 800,
                stagger: 1000,
                backwards: false,
                delay: 800
            });

            $divs_chemin = $('#slide0 .bt_chemin');
            $divs_chemin.velocity("reverse").velocity('transition.bounceIn', {
                duration: 800,
                stagger: 200,
                backwards: false,
                delay: 800
            });


            $('.cap[data-num=0]').addClass('on');


            slide_en_cours = 0;

            $('#animation').hover(function (e) {
                clearInterval(diaporama);
                },function(e){
                clearInterval(diaporama);
                diaporama =  setInterval(prochaine_diapo,7000);
            });

            $('.cap,.bt_chemin').click(function (e) {

                clearInterval(diaporama);
                e.preventDefault();
                e.stopPropagation();
                $('.cap').removeClass('on');

                num = $(this).attr('data-num');
                $('.cap[data-num='+num+']').addClass('on');
                if (num != slide_en_cours) {

                    $('#slide' + slide_en_cours + ' > div').velocity('transition.bounceLeftOut', {
                        duration: 500,
                        stagger: 100
                    });
                    $divs_haut = $('#slide' + num + ' .bloc');
                    $divs_bas = $('#slide' + num + ' .illustration1, #slide' + num + ' .illustration2');
                    $divs_chemin = $('#slide' + num + ' .chemin');


                    $divs_haut.velocity("stop").velocity("reverse").velocity('transition.bounceUpIn', {
                        duration: 1000,
                        stagger: 300,
                        backwards: false,
                        delay: 500
                    });
                    $divs_bas.velocity("stop").velocity("reverse").velocity('transition.bounceDownIn', {
                        duration: 1000,
                        stagger: 1000,
                        backwards: false,
                        delay: 800
                    });

                    $divs_chemin.velocity("stop").velocity("reverse").velocity('transition.bounceDownIn', {
                        duration: 500,
                        stagger: 1000,
                        backwards: false,
                        delay: 800
                    });
                    if (num==0){
                        $divs_chemin = $('#slide0 .bt_chemin');
                        $divs_chemin.velocity("reverse").velocity('transition.bounceIn', {
                            duration: 800,
                            stagger: 200,
                            backwards: false,
                            delay: 800
                        });
                    }


                    slide_en_cours = num;
                }
            });

            diaporama =  setInterval(prochaine_diapo,7000);

        }
    });
</script>
</B_art>