<BOUCLE_articles(ARTICLES){id_article}>
<li class="item hentry">
	<div class="logo"><a href="#URL_ARTICLE" rel="bookmark">[(#LOGO_ARTICLE_RUBRIQUE|left|image_reduire{300,300}|image_recadre{200,200})]</a></div>
	<div class="titre">
		<span class="h3 entry-title"><a href="#URL_ARTICLE" rel="bookmark">#TITRE</a></span>
		<B_asso>
			<span class="liste_asso">
				<BOUCLE_asso(ASSOCIATIONS){id_article}{', '}>
				<span class="label label-primary"><a href="[(#URL_ASSOCIATION)]" title="#NOM">[(#SIGLE|sinon{#NOM})]</a></span>
				</BOUCLE_asso>
			</span>
		</B_asso>
	</div>
	[<div class="#EDIT{intro} introduction entry-content">(#INTRODUCTION{200})</div>]
	<div class="meta-publi">
			<a class="lire-la-suite" href="#URL_ARTICLE"><span class="lire-la-suite-titre"><:zpip:lire_la_suite_de:> <em>#TITRE</em></span></a>
	</div>
	<div class="clearfix"></div>
</li>
</BOUCLE_articles>
