<BOUCLE_miniplan_rub(RUBRIQUES){id_rubrique}>
<ul class="menu-liste list-unstyled">
    <BOUCLE_miniplan_article(ARTICLES) {id_rubrique} {age<45}{0,5}{par date}{inverse}>
    [(#INCLURE{fond=inclure/resume/menu_emploi,id_article})]
    </BOUCLE_miniplan_article>
    </B_miniplan_article>
    Aucune offre pour le moment
    <//B_miniplan_article>

<B_nb_article>
    [<li><a href="(#URL_RUBRIQUE)">Voir les autres offres...</a></li>]
<BOUCLE_nb_article(ARTICLES) {id_rubrique}{age<45}{5,1}{par date}> </BOUCLE_nb_article>

</ul>
</BOUCLE_miniplan_rub>
