
<B_mois_vedette>
    <ul class="evt_vedette">
        <BOUCLE_mois_vedette(EVENEMENTS){!evenement_passe}{magnet}{doublons}>
        <li>
            <div class="item pull-left">
                    [(#SET{logo,#LOGO_EVENEMENT|image_reduire{150,150}})]
                    <a href="#URL_ARTICLE" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})" class="img-rounded spip_logos"]>

                        <BOUCLE_articles_vedette(ARTICLES){id_evenement}{id_article!=19}>
                            [(#GET{logo}|non) [(#SET{logo,#LOGO_ARTICLE|image_reduire{150,150}})]]
                        </BOUCLE_articles_vedette>
                        [(#GET{logo}|non) [(#SET{logo,#CHEMIN{images/logo.png}|image_reduire{150,150}})]]
                        [<div class="logo pic grow">(#GET{logo}|inserer_attribut{class,"img-responsive img-rounded"})</div>]
                    </a>
            </div>
            <div class="date_vedette">[(#DATE_DEBUT|agenda_affdate_debut_fin{#DATE_FIN,#HORAIRE*})]</div>
            <div class="titre_vedette">
                <a href="[(#GET{url_article})]" rel="bookmark" [data-event="(#URL_PAGE{evt_ajax,id_evenement=#ID_EVENEMENT})"]>
                    #TITRE
                </a>
            </div>
            <div class="informations_vedette">
            #SET{organisateur,#AUTEURS_1}

              Par :
                <B_aut>

                <BOUCLE_aut(AUTEURS){id_auteur=#GET{organisateur}}{tout}>
                    [(#NOM)]
                    #SET{organisateur,""}
                </BOUCLE_aut>

                </B_aut>
                [(#AUTRES)]

              [<div class="lieu">Lieu : (#LIEU)</div> ]
              [<div class="contact">Contact : (#CONTACT)</div>]
            </div>
            <div class="clearfix"></div>
	    </li>
        </BOUCLE_mois_vedette>
    </ul>
</B_mois_vedette>


[(#SET{tabevt,#ARRAY})]
<div class="clearfix"></div>
<B_mois>
    <hr/>
    <ul class="mini_agenda">
    <BOUCLE_mois(EVENEMENTS){!evenement_passe}{par date}{0,8}{doublons}>
        <li>
            [(#INCLURE{fond=inclure/resume/evt2}{id_evenement=#ID_EVENEMENT})]
            [(#SET{tabevt,#GET{tabevt}|push{#ID_EVENEMENT_SOURCE}})]
            <div class="nettoyeur"></div>
        </li>
    </BOUCLE_mois>
    </ul>
    <div class="lien_agenda pull-right"><a href="[(#URL_PAGE{agenda})]" class="btn btn-primary">Voir les autres événements</a></div>
</B_mois>
    <div class="lien_agenda pull-right"><a href="[(#URL_PAGE{agenda})]" class="btn btn-primary">Voir les autres événements</a></div>
<//B_mois>


