<div id="outils">
    <div id="bouton_imprimer">
        <ul>
               <li> <a class="btn btn-print" data-placement="left" onclick="window.print()">
                    <span class="glyphicon glyphicon-print"></span></a>
               </li>
        </ul>
    </div>
</div>