<B_articles>
    <div class="liste articles article-bloc list-group bloc_emploi">

        <ul class="menu-liste">
            <BOUCLE_articles(ARTICLES){id_rubrique}{age<45}{par date}{inverse}>
            [(#INCLURE{fond=inclure/resume/menu_emploi,id_article})]
            </BOUCLE_articles>
        </ul>
        <div class="clearfix"></div>
    </div>
</B_articles>
