@import "bootstrap/variables";

@import "variables_perso";



.page_sommaire{


  div#animation {

    width: 100%;
    height:450px;
    background-color:$vert;
    overflow: hidden;


    .spip_documents.spip_documents_center{
      margin-bottom: 0;
    }

    #slide0{
      height: 350px;
      div.chemin{
        position: absolute;
        height: 350px;
        width: 100%;
        background: url(../images/MRES_chemin.svg) no-repeat bottom ;  background-size: contain;
      }

      .bloc{}

      .bt_chemin{
        position:absolute;top:340px;left:16%;font-size:1.5em; line-height: 1;
        a{color:white;}
        a:hover{color:white;}

      }
      #bt1{position:absolute;top:330px;left:18%;
        .texte{transform: rotate(-5deg);}
        .alpha54{transform: rotate(-7deg);margin-left:-20px;}
        }
      #bt2{
        position:absolute;top:210px;left:45%;
        .texte{transform: rotate(-5deg);}
          .alpha54{transform: rotate(-5deg);margin-left:5px;margin-top:-3px;}
        }
      #bt3{
        position:absolute;top:120px;left:73%;
        .texte{transform: rotate(-5deg);}
          .alpha54{transform: rotate(-5deg);margin-left:-5px; margin-top:-3px;}
        }
      }
  div.centre_animation {
    position:relative;
    margin:0;
    max-width: 1080px;
    margin-left:auto;
    margin-right:auto;

  }

  #logo_mres{
    position:absolute;
    left: 300px;
    top:75px;
    padding:0;

  }

  div.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    color : white;

  }



  div#titre_mres {
    font-size:2em;
    color : white;
    //font-family: alpha54regular;
    font-weight: 700;
    text-transform: uppercase;
    width: 500px;
    span.petit{
      font-weight: 100;
      text-transform: none;
    }
  }

  div#titre_reseau {
    font-size:1.75em;
    font-family: alpha54regular;
    color : $vert-pistache;
    padding:0.5em 0;
  }

  div#descriptif {
    margin-top:25px;
    font-size:1.1em;
    text-align:justify;
    width: 100%;
    margin-left:auto;

  }

 .photos{margin:0;padding:0;}
 .photo{display:inline-block; text-align: center;border:5px $vert-pistache solid; padding:0;margin:0;}
    div.bloc {
      width:500px;
      padding-top:50px;
    }

  div.titre {
    font-size:2em;
    color: white;
    width: 500px;

  }

  div.soustitre {
    font-size:1.5em;
    color:$vert-pistache;
    padding:0 0 0.5em 0;
  }



  div.descriptif {

    font-size:1.1em;
    text-align:justify;
    width: 100%;
    background-color: $vert-trans;
    padding: 0;
    color:white;

    a{ color:white;font-weight: bold;}
    strong { color:white; font-size: 1.1em; }
    ul{list-style: circle;padding:0 1em;}

  }





  div.col50 {
    width:45%;
    margin:0 5% 0 0;
    float:left;
  }

    div.col33 {
      width:30%;
      margin:0 3% 0 0;
      float:left;
    }


    div.illustration {
    position:absolute;
    top:75px;
    width:400px;
    right:0;
    color:white;
      div.titre, h3{
        font-size:1.5em;
        color: white;
      }
      ul{list-style:disc;padding-left:1em;}
  }




    .slide_navigator{
      position: absolute;
      top:460px;
      left:calc(50% - 60px);
      height: 30px;
      width: 120px;
      .cap{
        display:inline-block;
        background-color:$vert-pistache;
        border-radius: 10px;
        height:20px;
        width:20px;
        margin:3px;
        padding:0;
      }
    .cap.on{
      background-color:$rouge;
    }

    }
  #slide0{
    div.illustration {top:270px;}

  }
  }


}


////////////responsive//////////////////







@media only screen and (max-width: $screen-md-max) {

.page_sommaire{
  div#animation {
    max-width: $screen-md-max;
    div.slide{
      .bloc{ width: 60%; padding : 4em 2em 1em 2em;}
      #titre_mres{font-size:1.6em;}
      #titre_reseau{font-size:1.6em;}
      #logo_mres{left:25%;width:40%;
        img{max-width:100%; height: auto;}

      }
      div.illustration{ width: 350px;
        img{max-width:100%; height: auto;}}
    }
    }

}

}

@media only screen and (max-width: $screen-sm-max) {


  .page_sommaire{
    div#animation {
      height: auto;
      div.slide{position:relative;
        .bloc{width: 100%;  padding : 4em 2em 1em 2em;}
        .illustration{position:relative;top:0;
          .photos{text-align: left;}
        }
        #titre_mres{font-size:1.7em;}
        #titre_reseau{font-size:1.7em;}
        #logo_mres{left:50%;width:40%;
          img{max-width:100%; height: auto;}
        }
      }
      .bt_chemin,.chemin{display:none;}
      #slide0 div.illustration{ position:absolute;width: 35%;top: 80px;left:55%;padding:0 1em 2em;margin:0;}
    }
    .slide_navigator{display: none;}


  }

}


@media only screen and (max-width: $screen-xs-min) {


  .page_sommaire{
    div#animation {
      #slide0 {height: auto;}
      #logo_mres {display:none; }
      img{max-width:100%; height: auto;}
      #titre_mres{font-size:1.4em;}
      #titre_reseau{font-size:1.4em;}
      #slide0 div.illustration{ position:relative;width: 100%;top: 0;left:0;padding:1em 2em;margin:0;}
    }}

}



