.couleur-majeure {
  color: #80ba27; }

.couleur-mineure {
  color: #e94a31; }

.couleur-tierce {
  color: #148d82; }

.rose-virgule {
  color: #f8c1b4; }

.vert-virgule {
  color: #c1db9b; }

.page_sommaire div#animation {
  width: 100%;
  height: 450px;
  background-color: #80ba27;
  overflow: hidden; }
  .page_sommaire div#animation .spip_documents.spip_documents_center {
    margin-bottom: 0; }
  .page_sommaire div#animation #slide0 {
    height: 350px; }
    .page_sommaire div#animation #slide0 div.chemin {
      position: absolute;
      height: 350px;
      width: 100%;
      background: url(../images/MRES_chemin.svg) no-repeat bottom;
      background-size: contain; }
    .page_sommaire div#animation #slide0 .bt_chemin {
      position: absolute;
      top: 340px;
      left: 16%;
      font-size: 1.5em;
      line-height: 1; }
      .page_sommaire div#animation #slide0 .bt_chemin a {
        color: white; }
      .page_sommaire div#animation #slide0 .bt_chemin a:hover {
        color: white; }
    .page_sommaire div#animation #slide0 #bt1 {
      position: absolute;
      top: 330px;
      left: 18%; }
      .page_sommaire div#animation #slide0 #bt1 .texte {
        transform: rotate(-5deg); }
      .page_sommaire div#animation #slide0 #bt1 .alpha54 {
        transform: rotate(-7deg);
        margin-left: -20px; }
    .page_sommaire div#animation #slide0 #bt2 {
      position: absolute;
      top: 210px;
      left: 45%; }
      .page_sommaire div#animation #slide0 #bt2 .texte {
        transform: rotate(-5deg); }
      .page_sommaire div#animation #slide0 #bt2 .alpha54 {
        transform: rotate(-5deg);
        margin-left: 5px;
        margin-top: -3px; }
    .page_sommaire div#animation #slide0 #bt3 {
      position: absolute;
      top: 120px;
      left: 73%; }
      .page_sommaire div#animation #slide0 #bt3 .texte {
        transform: rotate(-5deg); }
      .page_sommaire div#animation #slide0 #bt3 .alpha54 {
        transform: rotate(-5deg);
        margin-left: -5px;
        margin-top: -3px; }
  .page_sommaire div#animation div.centre_animation {
    position: relative;
    margin: 0;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto; }
  .page_sommaire div#animation #logo_mres {
    position: absolute;
    left: 300px;
    top: 75px;
    padding: 0; }
  .page_sommaire div#animation div.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white; }
  .page_sommaire div#animation div#titre_mres {
    font-size: 2em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    width: 500px; }
    .page_sommaire div#animation div#titre_mres span.petit {
      font-weight: 100;
      text-transform: none; }
  .page_sommaire div#animation div#titre_reseau {
    font-size: 1.75em;
    font-family: alpha54regular;
    color: #c1db9b;
    padding: 0.5em 0; }
  .page_sommaire div#animation div#descriptif {
    margin-top: 25px;
    font-size: 1.1em;
    text-align: justify;
    width: 100%;
    margin-left: auto; }
  .page_sommaire div#animation .photos {
    margin: 0;
    padding: 0; }
  .page_sommaire div#animation .photo {
    display: inline-block;
    text-align: center;
    border: 5px #c1db9b solid;
    padding: 0;
    margin: 0; }
  .page_sommaire div#animation div.bloc {
    width: 500px;
    padding-top: 50px; }
  .page_sommaire div#animation div.titre {
    font-size: 2em;
    color: white;
    width: 500px; }
  .page_sommaire div#animation div.soustitre {
    font-size: 1.5em;
    color: #c1db9b;
    padding: 0 0 0.5em 0; }
  .page_sommaire div#animation div.descriptif {
    font-size: 1.1em;
    text-align: justify;
    width: 100%;
    background-color: rgba(128, 186, 39, 0.8);
    padding: 0;
    color: white; }
    .page_sommaire div#animation div.descriptif a {
      color: white;
      font-weight: bold; }
    .page_sommaire div#animation div.descriptif strong {
      color: white;
      font-size: 1.1em; }
    .page_sommaire div#animation div.descriptif ul {
      list-style: circle;
      padding: 0 1em; }
  .page_sommaire div#animation div.col50 {
    width: 45%;
    margin: 0 5% 0 0;
    float: left; }
  .page_sommaire div#animation div.col33 {
    width: 30%;
    margin: 0 3% 0 0;
    float: left; }
  .page_sommaire div#animation div.illustration {
    position: absolute;
    top: 75px;
    width: 400px;
    right: 0;
    color: white; }
    .page_sommaire div#animation div.illustration div.titre, .page_sommaire div#animation div.illustration h3 {
      font-size: 1.5em;
      color: white; }
    .page_sommaire div#animation div.illustration ul {
      list-style: disc;
      padding-left: 1em; }
  .page_sommaire div#animation .slide_navigator {
    position: absolute;
    top: 460px;
    left: calc(50% - 60px);
    height: 30px;
    width: 120px; }
    .page_sommaire div#animation .slide_navigator .cap {
      display: inline-block;
      background-color: #c1db9b;
      border-radius: 10px;
      height: 20px;
      width: 20px;
      margin: 3px;
      padding: 0; }
    .page_sommaire div#animation .slide_navigator .cap.on {
      background-color: #e94a31; }
  .page_sommaire div#animation #slide0 div.illustration {
    top: 270px; }

@media only screen and (max-width: 1199px) {
  .page_sommaire div#animation {
    max-width: 1199px; }
    .page_sommaire div#animation div.slide .bloc {
      width: 60%;
      padding: 4em 2em 1em 2em; }
    .page_sommaire div#animation div.slide #titre_mres {
      font-size: 1.6em; }
    .page_sommaire div#animation div.slide #titre_reseau {
      font-size: 1.6em; }
    .page_sommaire div#animation div.slide #logo_mres {
      left: 25%;
      width: 40%; }
      .page_sommaire div#animation div.slide #logo_mres img {
        max-width: 100%;
        height: auto; }
    .page_sommaire div#animation div.slide div.illustration {
      width: 350px; }
      .page_sommaire div#animation div.slide div.illustration img {
        max-width: 100%;
        height: auto; } }
@media only screen and (max-width: 991px) {
  .page_sommaire div#animation {
    height: auto; }
    .page_sommaire div#animation div.slide {
      position: relative; }
      .page_sommaire div#animation div.slide .bloc {
        width: 100%;
        padding: 4em 2em 1em 2em; }
      .page_sommaire div#animation div.slide .illustration {
        position: relative;
        top: 0; }
        .page_sommaire div#animation div.slide .illustration .photos {
          text-align: left; }
      .page_sommaire div#animation div.slide #titre_mres {
        font-size: 1.7em; }
      .page_sommaire div#animation div.slide #titre_reseau {
        font-size: 1.7em; }
      .page_sommaire div#animation div.slide #logo_mres {
        left: 50%;
        width: 40%; }
        .page_sommaire div#animation div.slide #logo_mres img {
          max-width: 100%;
          height: auto; }
    .page_sommaire div#animation .bt_chemin, .page_sommaire div#animation .chemin {
      display: none; }
    .page_sommaire div#animation #slide0 div.illustration {
      position: absolute;
      width: 35%;
      top: 80px;
      left: 55%;
      padding: 0 1em 2em;
      margin: 0; }
  .page_sommaire .slide_navigator {
    display: none; } }
@media only screen and (max-width: 480px) {
  .page_sommaire div#animation #slide0 {
    height: auto; }
  .page_sommaire div#animation #logo_mres {
    display: none; }
  .page_sommaire div#animation img {
    max-width: 100%;
    height: auto; }
  .page_sommaire div#animation #titre_mres {
    font-size: 1.4em; }
  .page_sommaire div#animation #titre_reseau {
    font-size: 1.4em; }
  .page_sommaire div#animation #slide0 div.illustration {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1em 2em;
    margin: 0; } }

/*# sourceMappingURL=animation.css.map */
