
$vert : #80ba27;
$vert-pistache : #c1db9b;

$rouge : #e94a31;
$rose: #f8c1b4;

$rouge-mres : #ca191b;
$rouge-tomate : #ca444b;
$orange-mres : #dca037;
$rose-mres: #bf2260;

$vert-de-gris: #148d82;
$turquoise : #00b0a6;
$bleu_glace : #60c1c7;
$bleu : #00a5cc;
$orange :#f0920a;
$jaune : #f4ca16;
$grisbleu-mres: #89aca1;
$rose-virgule: #f8c1b4;
$vert-virgule: #c1db9b;



.couleur-majeure {
  color: $vert; }

.couleur-mineure {
  color: $rouge; }

.couleur-tierce {
  color: $vert-de-gris; }

.rose-virgule {
  color: $rose; }

.vert-virgule {
  color: $vert-pistache; }




$vert-trans : rgba(128, 186, 39, 0.8);

$white-trans : rgba(250, 250, 250, 0.97);
$white-trans80 : transparentize($gray-lighter, 0.3);